@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

body {
  background: #eee; }

#content .container {
  font-family: "Quicksand"; }
  #content .container .back {
    font-size: 16px;
    margin: 10px 0 0 0px;
    font-family: "Quicksand-Bold"; }
    #content .container .back img {
      width: 30px; }
  #content .container .head-text {
    position: absolute;
    margin-top: 30px;
    top: 5.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    font-family: "Quicksand-Bold";
    letter-spacing: 1px;
    color: #656565; }
  #content .container .table-no {
    margin-top: 40px;
    text-align: right;
    font-size: 16px;
    font-family: "Quicksand-Bold";
    letter-spacing: 1px;
    text-align: right;
    color: #656565; }
  #content .container .date {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #656565;
    font-family: "Quicksand-Bold"; }
  #content .container .list-no {
    text-align: right;
    font-family: "Quicksand-Bold";
    font-size: 24px; }
  #content .container .order-head {
    margin: 0 0 10px 0;
    font-family: "Quicksand-Bold";
    color: #656565; }
    #content .container .order-head .order-text {
      font-size: 20px;
      padding-left: 30px; }
    #content .container .order-head .order-status {
      font-size: 20px;
      text-align: right; }
  #content .container #list-order .order-process {
    margin: 0 0 20px 0;
    background: #9ad8ff;
    padding: 15px 0; }
    #content .container #list-order .order-process .img-order {
      position: relative;
      width: 60px;
      height: 60px;
      margin-left: 15px;
      background: #232121;
      padding: 10px;
      border-radius: 50%; }
      #content .container #list-order .order-process .img-order img {
        position: absolute;
        width: 30px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        margin: auto;
        display: block; }
    #content .container #list-order .order-process .order-detail {
      font-size: 16px;
      font-family: "Quicksand-Bold";
      color: #656565; }
      #content .container #list-order .order-process .order-detail .order-name .name {
        display: inline-block; }
      #content .container #list-order .order-process .order-detail .order-name .number {
        margin-left: 10px;
        display: inline-block;
        color: #232121; }
      #content .container #list-order .order-process .order-detail .order-option {
        padding-left: 10px; }
    #content .container #list-order .order-process .status {
      font-size: 18px;
      font-family: "Quicksand-Bold";
      text-align: right; }
  #content .container #list-order .order-served {
    margin: 0 0 20px 0;
    background: #8dc575;
    padding: 15px 0; }
    #content .container #list-order .order-served .img-order {
      position: relative;
      width: 60px;
      height: 60px;
      margin-left: 15px;
      background: #232121;
      padding: 10px;
      border-radius: 50%; }
      #content .container #list-order .order-served .img-order img {
        position: absolute;
        width: 30px;
        top: 50%;
        left: 50%;
        margin: auto;
        display: block;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    #content .container #list-order .order-served .order-detail {
      font-size: 16px;
      font-family: "Quicksand-Bold";
      color: #656565; }
      #content .container #list-order .order-served .order-detail .order-name .name {
        display: inline-block; }
      #content .container #list-order .order-served .order-detail .order-name .number {
        margin-left: 10px;
        display: inline-block;
        color: #232121; }
      #content .container #list-order .order-served .order-detail .order-option {
        padding-left: 10px; }
    #content .container #list-order .order-served .status {
      font-size: 18px;
      font-family: "Quicksand-Bold";
      text-align: right; }

.order-list {
  padding: 0 20px; }
  .order-list .order-item {
    position: relative;
    margin-bottom: 14px;
    padding: 14px 20px 14px 140px;
    min-height: 150px;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .order-list .order-item .order-no {
      position: absolute;
      top: 0;
      left: 14px;
      text-align: center; }
      .order-list .order-item .order-no .content {
        padding: 20px 14px; }
        .order-list .order-item .order-no .content .text {
          font-size: 13px; }
        .order-list .order-item .order-no .content .value {
          margin-top: 4px;
          font-family: "Quicksand-Bold";
          font-size: 24px; }
      .order-list .order-item .order-no .triangle {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 34px solid #C34D35; }
    .order-list .order-item .time {
      position: absolute;
      top: 10px;
      right: 10px; }
    .order-list .order-item .product-info .product-name {
      font-family: "Quicksand-Bold";
      font-size: 20px; }
    .order-list .order-item .product-info .status {
      font-family: "Quicksand-Bold";
      font-size: 20px;
      text-align: right; }
    .order-list .order-item .product-info .product-option {
      margin-top: 6px;
      color: rgba(255, 255, 255, 0.6); }
      .order-list .order-item .product-info .product-option .status-detail {
        position: absolute;
        font-size: 26px;
        right: 0;
        margin-right: 60px;
        color: #FFF; }
    .order-list .order-item .product-info .table-no {
      margin-top: 20px;
      font-size: 20px; }
    .order-list .order-item.processing-normal {
      background: #A87970;
      border-bottom: 3px solid #895145; }
      .order-list .order-item.processing-normal .order-no {
        background: #78382B; }
        .order-list .order-item.processing-normal .order-no .triangle {
          border-bottom-color: #A87970; }
    .order-list .order-item.processing-high {
      background: #C34D35;
      border-bottom: 3px solid #9D3B27; }
      .order-list .order-item.processing-high .order-no {
        background: #4C1307; }
        .order-list .order-item.processing-high .order-no .triangle {
          border-bottom-color: #C34D35; }
    .order-list .order-item.completed {
      background: #86D0CF;
      border-bottom: 3px solid #5FC7C4;
      color: #000; }
      .order-list .order-item.completed .order-no {
        background: #5FC7C4; }
        .order-list .order-item.completed .order-no .triangle {
          border-bottom-color: #86D0CF; }
      .order-list .order-item.completed .product-info .status-detail {
        color: #000; }
      .order-list .order-item.completed .product-info .product-option {
        color: rgba(0, 0, 0, 0.6); }
    .order-list .order-item:hover {
      top: -3px; }
