@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

body {
  background: #eee; }

#content .container {
  font-family: "Quicksand"; }
  #content .container .back {
    font-size: 16px;
    margin: 10px 0 0 0px;
    font-family: "Quicksand-Bold"; }
    #content .container .back img {
      width: 30px; }
  #content .container .head-text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-family: "Quicksand-Bold";
    letter-spacing: 1px; }
  #content .container .input-table {
    position: relative;
    font-size: 20px;
    margin: auto;
    background: #ded9d9;
    width: 450px;
    height: 115px;
    padding: 15px;
    border-radius: 30px; }
    #content .container .input-table img {
      width: 30px;
      position: absolute;
      right: 20px;
      top: 15px; }
  #content .container .order-head {
    margin: 50px 0 10px 0; }
    #content .container .order-head .order-text {
      font-size: 20px;
      padding-left: 30px; }
    #content .container .order-head .order-status {
      padding-right: 30px;
      font-size: 20px;
      text-align: right; }
  #content .container .order-item-process {
    margin: 20px 0 0 0;
    background: #9ad8ff;
    padding: 20px 0; }
    #content .container .order-item-process .order-id {
      font-size: 20px;
      font-family: "Quicksand-Bold";
      padding-top: 10px;
      color: black; }
    #content .container .order-item-process .order-status-in {
      text-align: right; }
      #content .container .order-item-process .order-status-in .status {
        font-size: 20px;
        font-family: "Quicksand-Bold";
        color: black;
        padding-bottom: 15px; }
      #content .container .order-item-process .order-status-in .date {
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0 5px; }
  #content .container .order-item-complete {
    background: #635f5d;
    padding: 20px 0 20px 0;
    margin: 20px 0 0 0;
    color: #FFF; }
    #content .container .order-item-complete .order-id {
      padding-top: 10px;
      font-size: 20px; }
      #content .container .order-item-complete .order-idhover {
        opacity: 1; }
    #content .container .order-item-complete .order-status-in {
      text-align: right; }
      #content .container .order-item-complete .order-status-in .status {
        padding-right: 10px;
        padding-bottom: 15px;
        font-size: 20px; }
      #content .container .order-item-complete .order-status-in .date {
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0 5px; }
