@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

body {
  background: #eee; }

#content .container #logo-head {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  #content .container #logo-head img {
    width: 200px;
    height: auto; }

#content .container #table-map {
  position: absolute;
  top: 60%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  #content .container #table-map .image-in {
    cursor: pointer; }
    #content .container #table-map .image-in img {
      display: block;
      margin: auto;
      width: 150px;
      height: auto; }
  #content .container #table-map .text {
    font-size: 22px;
    font-family: "Quicksand-Bold";
    padding: 20px;
    text-align: center; }

#content .container #order-status {
  position: absolute;
  top: 60%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  #content .container #order-status .image-in {
    cursor: pointer; }
    #content .container #order-status .image-in img {
      display: block;
      margin: auto;
      width: 150px;
      height: auto; }
  #content .container #order-status .text {
    font-size: 22px;
    font-family: "Quicksand-Bold";
    padding: 20px;
    text-align: center; }
