@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#content-checkout {
  display: none;
  background: #EEE;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  width: 80vw;
  max-width: 700px;
  max-height: 450px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999; }
  #content-checkout .close-checkout-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 14px;
    background: rgba(0, 0, 0, 0.1);
    color: #000;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #content-checkout .close-checkout-btn:hover {
      background: rgba(0, 0, 0, 0.5);
      color: #FFF; }
  #content-checkout #checkout-box {
    padding: 20px;
    min-height: 360px;
    background: #FFF; }
    #content-checkout #checkout-box .order-detail {
      min-height: 260px;
      max-height: 400px;
      overflow-y: auto; }
      #content-checkout #checkout-box .order-detail .head-text {
        text-align: center;
        font-family: "Quicksand-Bold";
        font-size: 18px;
        margin-bottom: 20px; }
      #content-checkout #checkout-box .order-detail .order-id {
        text-align: right; }
      #content-checkout #checkout-box .order-detail .checkout-total-price {
        margin-top: 20px;
        text-align: right;
        font-size: 14px;
        font-family: "Quicksand-Bold"; }
      #content-checkout #checkout-box .order-detail .checkout-total-discount-price {
        text-align: right;
        font-size: 14px;
        font-family: "Quicksand-Bold";
        color: #4F8A10; }
      #content-checkout #checkout-box .order-detail .checkout-total-discount {
        text-align: right;
        font-size: 18px;
        font-family: "Quicksand-Bold"; }
      #content-checkout #checkout-box .order-detail .product-orders .product-price {
        text-align: right;
        font-family: "Quicksand-Bold"; }
      #content-checkout #checkout-box .order-detail .product-option {
        margin: 10px 0; }
        #content-checkout #checkout-box .order-detail .product-option .product-option-item {
          padding: 0 20px; }
      #content-checkout #checkout-box .order-detail .total-price {
        margin-top: 20px;
        padding-bottom: 40px;
        font-family: "Quicksand-Bold";
        text-align: right;
        font-size: 18px;
        border-bottom: 2px solid #C5C5C5; }
    #content-checkout #checkout-box #tax-receipt .head-text {
      font-family: "Quicksand-Bold";
      font-size: 16px;
      padding: 30px 0 0 20px; }
    #content-checkout #checkout-box #tax-receipt .checkbox {
      padding-left: 20px; }
      #content-checkout #checkout-box #tax-receipt .checkbox textarea {
        margin: 10px 0 5px 0;
        resize: none; }
      #content-checkout #checkout-box #tax-receipt .checkbox p {
        font-size: 10px; }
    #content-checkout #checkout-box .button-pay {
      margin-top: 20px;
      text-align: center; }
      #content-checkout #checkout-box .button-pay .button-pay-by {
        background: #232121;
        color: #FFF;
        text-align: center;
        padding: 8px 15px;
        border-radius: 30px;
        display: inline-block;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        white-space: nowrap;
        cursor: pointer;
        margin-bottom: 2px; }
        #content-checkout #checkout-box .button-pay .button-pay-by:hover {
          background: #A87E4F; }
  #content-checkout #button-etc {
    text-align: center;
    padding: 20px; }
    #content-checkout #button-etc .button-item {
      display: inline-block;
      position: relative;
      margin-bottom: 10px;
      width: 100%;
      max-width: 200px;
      cursor: pointer; }
      #content-checkout #button-etc .button-item img {
        width: 100%; }
      #content-checkout #button-etc .button-item .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transition: background 0.2s;
        transition: background 0.2s; }
        #content-checkout #button-etc .button-item .cover .text {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          color: #FFF;
          white-space: nowrap;
          font-size: 16px;
          letter-spacing: 1.8px; }
        #content-checkout #button-etc .button-item .cover:hover {
          background: rgba(168, 126, 79, 0.72); }
    #content-checkout #button-etc .button-etc-in {
      margin-bottom: 40px;
      font-family: "Quicksand-Bold";
      background: #BBB;
      color: #FFF;
      padding: 8px 15px;
      text-align: center;
      border-radius: 50px;
      box-shadow: 0 2px 2px #949191;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #content-checkout #button-etc .button-etc-in:hover {
        background: #999; }
  #content-checkout #confirm-pay-cash {
    display: none;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 80%;
    height: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer; }
    #content-checkout #confirm-pay-cash .image-pay {
      position: absolute;
      top: 15%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #content-checkout #confirm-pay-cash .head-text {
      text-align: center;
      margin: 150px 0 10px 0;
      font-size: 30px;
      font-family: "Quicksand-Bold"; }
    #content-checkout #confirm-pay-cash .confirm-order-detail {
      padding: 30px 50px; }
      #content-checkout #confirm-pay-cash .confirm-order-detail .order-text {
        font-size: 20px;
        font-family: "Quicksand-Bold"; }
      #content-checkout #confirm-pay-cash .confirm-order-detail .order-id {
        text-align: right; }
      #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-product-orders {
        margin-top: 20px; }
        #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-product-orders .product-price {
          text-align: right;
          font-family: "Quicksand-Bold"; }
      #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-product-option {
        margin: 10px 0; }
        #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-product-option .product-option-item {
          padding: 0 20px; }
      #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-total-price {
        margin-top: 20px;
        padding-bottom: 40px;
        font-family: "Quicksand-Bold";
        text-align: right;
        font-size: 18px; }
      #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-finish .btn-finish {
        background: #232121;
        color: #FFF;
        padding: 10px;
        text-align: center;
        width: 85px;
        border-radius: 30px;
        margin: 0 auto;
        font-family: "Quicksand-Bold";
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
        #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-finish .btn-finish:hover {
          background: #A87E4F; }
      #content-checkout #confirm-pay-cash .confirm-order-detail .confirm-finish .confirm-time {
        position: absolute;
        left: 60%;
        bottom: 10%;
        color: red;
        font-family: "Quicksand-Bold"; }

@media only screen and (max-width: 768px) {
  #content-checkout #checkout-box,
  #content-checkout #checkout-box .order-detail {
    overflow: hidden;
    height: auto;
    min-height: initial; } }

.discount-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  text-align: center; }
  .discount-popup .loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1002;
    background: rgba(255, 255, 255, 0.8); }
    .discount-popup .loading img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .discount-popup .head-text {
    padding: 14px 20px;
    background: #EEE;
    font-size: 18px;
    font-family: "Quicksand-Bold";
    text-align: center;
    text-transform: uppercase; }
  .discount-popup .content {
    overflow: hidden;
    position: relative;
    padding: 14px 20px 0; }
    .discount-popup .content .input-discount {
      padding: 0 40px;
      margin: 0 auto; }
      .discount-popup .content .input-discount input {
        margin-top: 4px;
        padding: 6px 10px; }
    .discount-popup .content .discount-alert {
      display: none;
      padding: 5px 20px 0;
      font-family: "Quicksand-Bold"; }
      .discount-popup .content .discount-alert.success {
        color: #4F8A10; }
      .discount-popup .content .discount-alert.fail {
        color: #D8000C; }
  .discount-popup .button-discount {
    text-align: center;
    padding: 20px; }
    .discount-popup .button-discount .button-discount-in {
      display: inline-block;
      margin: 1px;
      padding: 8px 20px;
      background: #232121;
      color: #FFF;
      border-radius: 50px;
      cursor: pointer;
      -webkit-transition: background 0.2s;
      transition: background 0.2s; }
      .discount-popup .button-discount .button-discount-in:hover {
        background: #A87E4F; }

#cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 998; }

#yesno {
  display: none;
  position: fixed;
  width: 300px;
  padding: 30px 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFF;
  overflow-y: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 20px;
  z-index: 999; }
  #yesno #yesnobutton {
    margin-top: 20px; }
    #yesno #yesnobutton .button-pay-by {
      display: inline-block;
      text-align: center;
      padding: 8px 15px;
      background: #232121;
      border-radius: 30px;
      color: #FFF;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #yesno #yesnobutton .button-pay-by:hover {
        background: #A87E4F; }
