@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#content .container #collection-bar {
  background: #FFF;
  margin-bottom: 20px;
  border-radius: 2px;
  overflow-x: scroll;
  white-space: nowrap; }
  #content .container #collection-bar .collection-bar-item {
    display: inline-block;
    min-width: 150px;
    padding: 10px 14px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #content .container #collection-bar .collection-bar-item:hover, #content .container #collection-bar .collection-bar-item:focus {
      background: #A87E4F;
      color: #FFF; }
    #content .container #collection-bar .collection-bar-item.active {
      background: #C19F79;
      color: #FFF; }

#content .container #collection-bar::-webkit-scrollbar {
  display: none; }

#content .container #collection-product-list {
  padding: 0px 10px; }
  #content .container #collection-product-list .product-item {
    padding: 5px 5px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    #content .container #collection-product-list .product-item .product-image {
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      height: 193px;
      width: 100%; }
    #content .container #collection-product-list .product-item .product-info {
      padding: 15px;
      font-size: 14px;
      text-align: center;
      background: #FFF;
      font-family: "Quicksand-Bold"; }
      #content .container #collection-product-list .product-item .product-info .product-name {
        margin-bottom: 2px; }
        #content .container #collection-product-list .product-item .product-info .product-name .th {
          font-weight: bold;
          font-size: 22px; }
      #content .container #collection-product-list .product-item .product-info .product-price .th {
        font-size: 20px;
        color: #666; }
    #content .container #collection-product-list .product-item:hover {
      opacity: 0.75; }
