@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#start .image-head img {
  display: block;
  margin: 0 auto;
  width: 140px; }

#start .head-text {
  text-align: center;
  font-family: "Quicksand-Bold";
  font-size: 19px;
  margin-bottom: 24px; }

#start #table-div {
  background: #D8D8D8;
  width: 115px;
  height: 60px;
  margin: 24px auto; }
  #start #table-div #table-no {
    font-family: "SFNS";
    font-size: 26px;
    text-align: center;
    height: 60px;
    line-height: 60px; }

#start .number-div {
  margin: 0 auto;
  width: 278px; }
  #start .number-div .number {
    cursor: pointer;
    display: inline-block;
    width: 90px;
    height: 40px;
    background: #4A4A4A;
    border-radius: 9px;
    margin: 2px 0; }
    #start .number-div .number .number-text {
      color: #FFFFFF;
      font-family: "SFNS";
      font-size: 26px;
      text-align: center;
      padding: 5px; }

#start .line {
  margin: 40px;
  border: 3px solid #979797; }

#start .store {
  width: 340px;
  margin: 0 auto; }
  #start .store .store-circle {
    margin: 14px 0 0 14px;
    width: 92px;
    height: 92px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    background: #232121;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #start .store .store-circle .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      border-radius: 50px;
      border: 2px solid #FFFFFF; }
      #start .store .store-circle .circle .img-store {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    #start .store .store-circle:hover, #start .store .store-circle:focus {
      background: #A87E4F; }
    #start .store .store-circle.active {
      background: #A87E4F; }
