@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

.container-fluid {
  margin: 0 20px; }
  .container-fluid #btn-type .btn-type {
    margin: 20px 0 20px 0;
    background: #232121;
    width: 200px;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 30px;
    text-align: center;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    cursor: pointer; }
    .container-fluid #btn-type .btn-type:hover {
      background: #C19F79; }
    .container-fluid #btn-type .btn-type a {
      color: #FFF !important;
      text-decoration: none; }
  .container-fluid #table {
    background-color: #c0c0c0;
    padding: 0 5px;
    height: 670px; }
    .container-fluid #table #table-order {
      overflow-y: scroll;
      white-space: nowrap;
      height: 60%;
      padding: 0; }
      .container-fluid #table #table-order table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 3px;
        margin: 5px 0;
        padding: 0; }
        .container-fluid #table #table-order table tr {
          background-color: #7a7a7a; }
          .container-fluid #table #table-order table tr th {
            padding: 10px;
            text-align: center;
            font-family: "Quicksand";
            font-size: 18px;
            color: #FFFFFF; }
          .container-fluid #table #table-order table tr td {
            color: #000;
            padding: 10px;
            text-align: center;
            font-size: 18px;
            background-color: #FFFFFF; }
    .container-fluid #table #table-order::-webkit-scrollbar {
      /* This is the magic bit */
      display: none; }
    .container-fluid #table #table-payment {
      padding: 0; }
      .container-fluid #table #table-payment .table-payment-text {
        margin: 20px 0 0 0;
        font-family: "Quicksand-Bold";
        font-size: 18px; }
      .container-fluid #table #table-payment .btn-payment {
        font-size: 18px;
        font-family: "Quicksand"; }
        .container-fluid #table #table-payment .btn-payment input {
          width: 30%;
          margin: 0 0 0 5px; }
        .container-fluid #table #table-payment .btn-payment .btn-discount {
          display: inline-block;
          padding: 10px;
          min-width: 100px;
          background: #7a7a7a;
          color: #FFF;
          font-size: 12px;
          text-align: center;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
          cursor: pointer; }
          .container-fluid #table #table-payment .btn-payment .btn-discount:hover {
            background: #232121; }
      .container-fluid #table #table-payment table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 3px; }
        .container-fluid #table #table-payment table tr {
          font-family: "Quicksand";
          font-size: 18px;
          border: solid #c0c0c0 4px; }
          .container-fluid #table #table-payment table tr th {
            padding: 10px;
            text-align: center;
            color: #fff;
            background-color: #000; }
          .container-fluid #table #table-payment table tr td {
            background-color: #7a7a7a;
            padding: 10px;
            text-align: center;
            color: #fff; }
    .container-fluid #table #paid-left {
      padding: 0 5px; }
      .container-fluid #table #paid-left .paid-text {
        margin: 20px 0 0 0;
        text-align: right;
        font-size: 18px;
        font-family: "Quicksand-Bold"; }
  .container-fluid #pay {
    height: 670px;
    padding: 0 5px; }
    .container-fluid #pay #head {
      padding: 0;
      height: 35%; }
      .container-fluid #pay #head .head-pay {
        font-size: 50px;
        font-weight: bold;
        text-align: center; }
      .container-fluid #pay #head .change-pay {
        font-size: 18px;
        text-align: center;
        color: #FF0004; }
      .container-fluid #pay #head #button-etc table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 5px;
        font-size: 18px;
        text-align: center;
        color: #fff;
        padding: 0; }
        .container-fluid #pay #head #button-etc table tr td {
          background: #c0c0c0;
          cursor: pointer;
          padding: 15px 0;
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
          .container-fluid #pay #head #button-etc table tr td:hover {
            background: #000; }
        .container-fluid #pay #head #button-etc table tr .active {
          background: #232121; }
    .container-fluid #pay #bottom {
      height: 65%;
      background: #eee;
      font-weight: bold;
      padding: 0 5px;
      font-size: 30px; }
      .container-fluid #pay #bottom .input-pay {
        padding: 0 5px; }
        .container-fluid #pay #bottom .input-pay #pay-text {
          height: 60px;
          width: 100%;
          margin: 10px auto;
          padding: 10px;
          background: #FFF;
          text-align: right; }
      .container-fluid #pay #bottom #bank {
        padding: 0px; }
        .container-fluid #pay #bottom #bank img {
          width: 85%;
          padding: 3px 0;
          display: block;
          margin: auto; }
      .container-fluid #pay #bottom #btn-number {
        padding: 0;
        margin: 0; }
        .container-fluid #pay #bottom #btn-number table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 5px; }
          .container-fluid #pay #bottom #btn-number table td {
            background: #FFF;
            padding: 20px 0;
            text-align: center;
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
            .container-fluid #pay #bottom #btn-number table td:active {
              background: #232121;
              color: #FFF; }
          .container-fluid #pay #bottom #btn-number table td.enter {
            padding: 10px 0; }
          .container-fluid #pay #bottom #btn-number table img {
            width: 40px;
            height: auto; }
