@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#grab .container #btn-type .btn-type {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  margin: 30px 20px;
  border-radius: 10px; }

#grab .container #table-barcode {
  height: 500px;
  border: 1px solid black;
  overflow-y: scroll;
  white-space: nowrap; }

#grab .container #table-barcode::-webkit-scrollbar {
  /* This is the magic bit */
  display: none; }

#grab .container #btn-barcode .btn-barcode {
  margin: 20px 0; }

#grab .container .total-text {
  margin: 20px 0;
  text-align: right; }
  #grab .container .total-text .total {
    font-size: 20px; }
  #grab .container .total-text .amount {
    font-size: 22px; }
