@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#content .container {
  padding-top: 30px;
  padding-bottom: 30px; }
  #content .container #collection-list {
    margin: 0 -10px; }
    #content .container #collection-list div[class^='col-xs-'] {
      padding: 0 5px; }
    #content .container #collection-list .collection-item {
      position: relative;
      overflow: hidden;
      background: #DDD;
      margin-bottom: 10px;
      content: "";
      display: block;
      padding-bottom: 100%;
      cursor: pointer; }
      #content .container #collection-list .collection-item img {
        position: absolute;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        height: 100%; }
      #content .container #collection-list .collection-item .cover-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 20px;
        color: #FFF;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
        #content .container #collection-list .collection-item .cover-div .th {
          font-size: 32px; }
      #content .container #collection-list .collection-item:hover .cover-div {
        background: transparent; }
