@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

body {
  margin: 0;
  background: #EEE;
  font-family: "Quicksand";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.swimlane {
  overflow-y: scroll;
  height: 100vh; }
  .swimlane .headline {
    text-align: center;
    padding: 10px 14px;
    font-family: "Quicksand-Bold";
    font-size: 24px; }
  .swimlane .order-list {
    padding: 0 14px; }
    .swimlane .order-list .order-item {
      position: relative;
      margin-bottom: 14px;
      padding: 14px 20px 14px 140px;
      min-height: 150px;
      border-radius: 4px;
      color: #FFF;
      cursor: pointer;
      -webkit-transition: all 1s;
      transition: all 1s; }
      .swimlane .order-list .order-item .order-no {
        position: absolute;
        top: 0;
        left: 14px;
        text-align: center; }
        .swimlane .order-list .order-item .order-no .content {
          padding: 20px 14px; }
          .swimlane .order-list .order-item .order-no .content .text {
            font-size: 13px; }
          .swimlane .order-list .order-item .order-no .content .value {
            margin-top: 4px;
            font-family: "Quicksand-Bold";
            font-size: 24px; }
        .swimlane .order-list .order-item .order-no .triangle {
          width: 0;
          height: 0;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          border-bottom: 34px solid #C34D35; }
      .swimlane .order-list .order-item .time {
        position: absolute;
        top: 10px;
        right: 10px; }
      .swimlane .order-list .order-item .product-info .product-name {
        width: 75%;
        font-family: "Quicksand-Bold";
        font-size: 20px; }
      .swimlane .order-list .order-item .product-info .product-option {
        margin-top: 6px;
        color: rgba(255, 255, 255, 0.6); }
      .swimlane .order-list .order-item .product-info .table-no {
        margin-top: 20px;
        font-size: 20px; }
      .swimlane .order-list .order-item.processing-normal {
        background: #A87970;
        border-bottom: 3px solid #895145; }
        .swimlane .order-list .order-item.processing-normal .order-no {
          background: #78382B; }
          .swimlane .order-list .order-item.processing-normal .order-no .triangle {
            border-bottom-color: #A87970; }
      .swimlane .order-list .order-item.processing-high {
        background: #C34D35;
        border-bottom: 3px solid #9D3B27; }
        .swimlane .order-list .order-item.processing-high .order-no {
          background: #4C1307; }
          .swimlane .order-list .order-item.processing-high .order-no .triangle {
            border-bottom-color: #C34D35; }
      .swimlane .order-list .order-item.completed {
        background: #86D0CF;
        border-bottom: 3px solid #5FC7C4;
        color: #000; }
        .swimlane .order-list .order-item.completed .order-no {
          background: #5FC7C4; }
          .swimlane .order-list .order-item.completed .order-no .triangle {
            border-bottom-color: #86D0CF; }
        .swimlane .order-list .order-item.completed .product-info .product-option {
          color: rgba(0, 0, 0, 0.6); }
      .swimlane .order-list .order-item:hover {
        top: -3px; }

#processing-lane {
  background: #DDD; }

#completed-lane {
  background: #CCC; }

#tags-lane .tag-list {
  padding: 0 10px; }
  #tags-lane .tag-list .tag-item {
    padding: 0 10px; }
    #tags-lane .tag-list .tag-item .block {
      position: relative;
      text-align: center;
      margin-bottom: 10px;
      padding: 10px 14px;
      border-radius: 4px;
      font-size: 18px;
      color: #FFF;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #tags-lane .tag-list .tag-item .block.available {
        background: #5FC7C4;
        border-bottom: 3px solid #86D0CF;
        color: #000; }
      #tags-lane .tag-list .tag-item .block.unavailable {
        background: #C34D35;
        border-bottom: 3px solid #9D3B27; }
      #tags-lane .tag-list .tag-item .block:hover {
        opacity: 0.75; }

#tags-lane #barcode-div {
  text-align: center; }
  #tags-lane #barcode-div #barcode {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 10px; }
