@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

footer {
  background: #FFF;
  color: #FFF; }
  footer .container {
    padding: 30px 0; }

@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

body {
  position: relative;
  margin: 0;
  background: #FFF;
  font-family: "Quicksand";
  font-size: 14px;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body::-webkit-scrollbar {
  /* This is the magic bit */
  display: none; }

.container {
  padding: 0 20px; }

.th {
  font-family: "Helvethaica-light";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px; }

a {
  color: #C19F79;
  transition: all 0.2s; }
  a:hover, a:focus {
    color: #A87E4F;
    text-decoration: none; }

.show {
  display: initial !important; }

.btn {
  padding: 10px 18px;
  border-radius: 50px;
  background-color: #232121;
  color: #FFF !important;
  transition: background 0.2s; }
  .btn:hover {
    background: #C19F79; }
  .btn.-circle {
    position: relative;
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 50%; }
    .btn.-circle i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px; }

#ui-main {
  min-height: 800px;
  padding-top: 182px;
  background: #EEE; }

#sidebar {
  display: none;
  position: absolute;
  top: 0;
  right: -550px;
  width: 550px;
  height: 100vh;
  overflow-y: auto;
  background: #FFF; }
  #sidebar .close-btn-cart {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.2s; }
    #sidebar .close-btn-cart:hover {
      background: #EEE; }
  #sidebar .sidebar-footer {
    position: fixed;
    bottom: 0;
    right: -550px;
    width: 550px;
    border-top: 1px solid #EEE;
    background: #FFF;
    z-index: 100; }
    #sidebar .sidebar-footer .table-number {
      display: inline-block;
      padding: 14px 20px;
      text-align: center;
      border-right: 1px solid #EEE; }
      #sidebar .sidebar-footer .table-number .topic {
        font-family: "Quicksand-Bold";
        font-size: 11px;
        color: #666; }
      #sidebar .sidebar-footer .table-number .value {
        margin-top: 8px;
        font-family: "Quicksand-Bold";
        font-size: 24px;
        line-height: 24px; }
    #sidebar .sidebar-footer .options {
      float: right;
      padding: 16px 20px; }
  #sidebar .headline {
    margin: 30px 0 15px;
    text-align: center;
    font-family: "Quicksand-Bold";
    font-size: 20px; }
  #sidebar .content {
    padding-bottom: 80px; }
  #sidebar .order-detail-list .order-detail-item {
    padding: 20px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 18px; }
    #sidebar .order-detail-list .order-detail-item .row {
      margin: 0 -5px; }
      #sidebar .order-detail-list .order-detail-item .row > div {
        padding: 0 5px; }
      #sidebar .order-detail-list .order-detail-item .row .product-img img {
        width: 100%;
        border-radius: 10px; }
      #sidebar .order-detail-list .order-detail-item .row .product-info .product-option-list {
        font-family: "Quicksand";
        font-size: 13px;
        color: #666; }
        #sidebar .order-detail-list .order-detail-item .row .product-info .product-option-list .product-option-item .topic,
        #sidebar .order-detail-list .order-detail-item .row .product-info .product-option-list .product-option-item .value {
          padding: 4px 0; }
      #sidebar .order-detail-list .order-detail-item .row .qty {
        text-align: right;
        font-size: 14px; }
        #sidebar .order-detail-list .order-detail-item .row .qty > span {
          float: left;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          width: 32px;
          height: 32px; }
        #sidebar .order-detail-list .order-detail-item .row .qty .control-btn {
          border-radius: 50%;
          cursor: pointer;
          transition: background 0.2s; }
          #sidebar .order-detail-list .order-detail-item .row .qty .control-btn:hover, #sidebar .order-detail-list .order-detail-item .row .qty .control-btn:focus {
            background: #EEE; }
        #sidebar .order-detail-list .order-detail-item .row .qty .qty-number {
          font-size: 14px; }
      #sidebar .order-detail-list .order-detail-item .row .remove {
        padding-top: 4px;
        text-align: right; }
        #sidebar .order-detail-list .order-detail-item .row .remove .remove-btn {
          position: relative;
          width: 24px;
          height: 24px;
          background: none;
          border: 1px solid #666;
          border-radius: 50%;
          color: #666;
          transition: all 0.2s; }
          #sidebar .order-detail-list .order-detail-item .row .remove .remove-btn span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px; }
          #sidebar .order-detail-list .order-detail-item .row .remove .remove-btn:hover {
            background: #666;
            color: #FFF; }
    #sidebar .order-detail-list .order-detail-item .subtotal-price {
      padding: 10px 0;
      border-bottom: 1px solid #DDD;
      text-align: right;
      font-size: 16px; }
  #sidebar .total-price {
    padding: 20px;
    text-align: right;
    font-family: "Quicksand-Bold"; }
    #sidebar .total-price .value {
      margin-left: 20px;
      font-size: 18px; }
  #sidebar .footer {
    padding: 20px;
    text-align: center; }
    #sidebar .footer .checkout-btn {
      transition: all 0.2s; }

@media only screen and (max-width: 550px) {
  #sidebar {
    width: 100%; }
    #sidebar .sidebar-footer {
      width: 100%; } }

#sidebar::-webkit-scrollbar {
  /* This is the magic bit */
  display: none; }

#cover-box,
#cover-box-popup,
#cover-box-discount {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); }

#cover-box-discount {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#yesno #headconfirm .th {
  display: none; }

#yesno #yesnobutton .th {
  display: none; }

#popup-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; }
  #popup-div #product-option {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF; }
    #popup-div #product-option .product-item {
      position: relative;
      min-width: 550px;
      height: 350px;
      background-size: cover;
      background-position: center; }
      #popup-div #product-option .product-item .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 14px;
        font-size: 20px;
        color: #FFF;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0.6;
        z-index: 1000;
        transition: opacity 0.2s; }
        #popup-div #product-option .product-item .close-btn:hover {
          opacity: 1; }
      #popup-div #product-option .product-item .add-favorite-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 14px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        color: #FFF;
        cursor: pointer;
        opacity: 0.6;
        z-index: 1000;
        transition: opacity 0.2s; }
        #popup-div #product-option .product-item .add-favorite-btn i.glyphicon-heart {
          color: #FFCC00; }
        #popup-div #product-option .product-item .add-favorite-btn:hover {
          opacity: 1; }
      #popup-div #product-option .product-item .gradient-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      #popup-div #product-option .product-item .product-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #FFF;
        text-align: center;
        padding: 10px 14px; }
        #popup-div #product-option .product-item .product-info .product-name {
          font-family: "Quicksand-Bold";
          font-size: 20px; }
        #popup-div #product-option .product-item .product-info .product-description {
          font-size: 12px; }
        #popup-div #product-option .product-item .product-info .product-price {
          margin-top: 10px; }
    #popup-div #product-option .option-div {
      overflow-x: hidden;
      overflow-y: auto;
      margin: 14px 0;
      max-height: 350px; }
      #popup-div #product-option .option-div .cautions {
        padding-bottom: 14px;
        border-bottom: 1px solid #EEE;
        margin-bottom: 14px; }
        #popup-div #product-option .option-div .cautions .caution-item {
          text-align: center; }
          #popup-div #product-option .option-div .cautions .caution-item img {
            height: 24px; }
      #popup-div #product-option .option-div .options {
        padding: 0 20px;
        margin-bottom: 20px; }
        #popup-div #product-option .option-div .options .option-item .topic {
          font-family: "Quicksand-Bold";
          font-size: 16px;
          color: #C19F79; }
          #popup-div #product-option .option-div .options .option-item .topic .th {
            font-size: 24px; }
        #popup-div #product-option .option-div .options .option-item .values .value-item {
          display: block;
          padding-top: 4px;
          font-size: 12px;
          margin-bottom: -5px; }
          #popup-div #product-option .option-div .options .option-item .values .value-item .th {
            font-size: 20px; }
          #popup-div #product-option .option-div .options .option-item .values .value-item input {
            margin-right: 4px; }
        #popup-div #product-option .option-div .options .option-item:not(:last-child) {
          margin-bottom: 20px; }
      #popup-div #product-option .option-div .total {
        padding: 0 15px;
        font-family: "Quicksand-Bold"; }

#content-checkout {
  display: none; }

@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

header {
  position: fixed;
  width: 100%;
  height: 182px;
  background: #FFF;
  color: #000;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  z-index: 99; }
  header .container {
    position: relative;
    text-align: center; }
    header .container a {
      color: #000; }
      header .container a:hover {
        color: #C19F79; }
    header .container #top-bar {
      overflow: hidden;
      padding: 10px 14px; }
      header .container #top-bar #lang-bar {
        font-family: "Quicksand-Bold";
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 12px 18px;
        background: #EEE;
        border-radius: 50px; }
        header .container #top-bar #lang-bar .lang-item {
          font-weight: bold;
          color: #333; }
        header .container #top-bar #lang-bar .switch-slider {
          display: inline-block;
          width: 36px;
          height: 20px;
          margin: 0 3px -5px;
          padding: 2px;
          background: #C19F79;
          border-radius: 50px;
          cursor: pointer;
          transition: all 0.2s; }
          header .container #top-bar #lang-bar .switch-slider .switch-icon {
            display: inline-block;
            float: left;
            width: 16px;
            height: 16px;
            background: #FFF;
            border-radius: 50%; }
          header .container #top-bar #lang-bar .switch-slider:hover {
            background: #A87E4F; }
      header .container #top-bar #right-main-menu {
        position: absolute;
        top: 20px;
        right: 20px; }
        header .container #top-bar #right-main-menu #my-room-btn {
          position: relative; }
          header .container #top-bar #right-main-menu #my-room-btn i {
            margin-right: 6px; }
        header .container #top-bar #right-main-menu #order-list-btn .noti-div {
          display: none;
          position: absolute;
          top: -4px;
          right: -4px;
          width: 20px;
          height: 20px;
          background: #CC0000;
          border-radius: 50%;
          font-size: 12px; }
          header .container #top-bar #right-main-menu #order-list-btn .noti-div .noti-number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
    header .container #store-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 5px; }
      header .container #store-list .store-item {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        height: 70px;
        border-radius: 10px;
        opacity: 0.4; }
        header .container #store-list .store-item .img-normal {
          display: block; }
        header .container #store-list .store-item .img-active {
          display: none; }
        header .container #store-list .store-item.active {
          background-color: #C19F79;
          opacity: 1; }
          header .container #store-list .store-item.active .img-normal {
            display: none; }
          header .container #store-list .store-item.active .img-active {
            display: block; }
        header .container #store-list .store-item:not(.active):hover {
          opacity: 1; }

#noti-add-cart {
  position: absolute;
  right: 0;
  width: 240px;
  padding: 8px;
  background: #EEE;
  border: 1px solid #DDD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  opacity: 0;
  z-index: 100;
  transform: translateY(6px); }
  #noti-add-cart #noti-detail {
    overflow: hidden;
    text-align: left; }
    #noti-add-cart #noti-detail .product-img {
      float: left;
      overflow: hidden;
      position: relative;
      width: 48px; }
      #noti-add-cart #noti-detail .product-img img {
        position: absolute;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%; }
      #noti-add-cart #noti-detail .product-img:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
    #noti-add-cart #noti-detail .product-info {
      float: left;
      width: 150px;
      padding-left: 10px; }
      #noti-add-cart #noti-detail .product-info .product-name {
        margin-bottom: 4px;
        font-family: "Quicksand-Bold";
        font-size: 14px;
        line-height: 18px; }
      #noti-add-cart #noti-detail .product-info .product-price {
        font-size: 12px; }

/*# sourceMappingURL=main.css.map */
