@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#my-room #menu-list {
  overflow: hidden; }
  #my-room #menu-list .person-detail {
    height: 210px;
    margin: 0 0 30px 0; }
    #my-room #menu-list .person-detail .person-name {
      padding: 0;
      height: 100%; }
      #my-room #menu-list .person-detail .person-name .person-circle {
        height: 100%;
        padding: 0; }
        #my-room #menu-list .person-detail .person-name .person-circle .person-image {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background: #FFF;
          width: 130px;
          height: 130px;
          border-radius: 50%; }
          #my-room #menu-list .person-detail .person-name .person-circle .person-image img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); }
      #my-room #menu-list .person-detail .person-name .person-text {
        padding: 20px;
        height: 100%; }
        #my-room #menu-list .person-detail .person-name .person-text .text {
          padding: 10px;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          font-size: 14px; }
          #my-room #menu-list .person-detail .person-name .person-text .text #name {
            margin-bottom: 10px; }
            #my-room #menu-list .person-detail .person-name .person-text .text #name span {
              color: gray; }
    #my-room #menu-list .person-detail .point {
      background: #d6d5d5;
      height: 100%;
      position: relative; }
      #my-room #menu-list .person-detail .point .point-in {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-align: center; }
        #my-room #menu-list .person-detail .point .point-in .point-text {
          font-size: 18px;
          color: grey; }
        #my-room #menu-list .person-detail .point .point-in #no-point {
          font-size: 65px; }
  #my-room #menu-list .menu-item {
    background: #FFF;
    padding: 15px;
    text-align: center;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    color: #666;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #my-room #menu-list .menu-item .icon {
      font-size: 32px; }
    #my-room #menu-list .menu-item:hover {
      background: #C19F79;
      color: #FFF; }
  #my-room #menu-list .head-text {
    font-family: "Quicksand-Bold";
    font-size: 18px;
    margin: 20px 0 0 0; }
  #my-room #menu-list .product .text {
    margin: 15px 0; }
  #my-room #menu-list .product .product-list {
    background: #FFF;
    height: 200px;
    overflow-x: scroll;
    white-space: nowrap; }
    #my-room #menu-list .product .product-list .product-item {
      height: 100%;
      width: 165px;
      display: inline-block;
      text-align: center;
      font-family: "Quicksand-Bold";
      font-size: 12px; }
      #my-room #menu-list .product .product-list .product-item .product-image {
        margin-top: 10px; }
        #my-room #menu-list .product .product-list .product-item .product-image img {
          width: 80%;
          display: block;
          margin: 0 auto; }
      #my-room #menu-list .product .product-list .product-item .product-name {
        margin: 5px; }
      #my-room #menu-list .product .product-list .product-item .product-price {
        margin-bottom: 5px; }
      #my-room #menu-list .product .product-list .product-item .product-price-old {
        font-size: 8px;
        color: #AF0E0E;
        text-decoration: line-through; }
  #my-room #menu-list .product .product-list::-webkit-scrollbar {
    /* This is the magic bit */
    display: none; }
