@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#order-history .headline {
  font-family: "Quicksand-Bold";
  font-size: 24px; }

#order-history .sub-headline {
  font-family: "Quicksand-Bold";
  font-size: 12px;
  color: #666; }

#order-history #order-list {
  margin-top: 20px; }
  #order-history #order-list .order-item {
    position: relative;
    margin-bottom: 14px;
    background: #FFF;
    border-radius: 2px;
    border-bottom: 2px solid #DDD;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    #order-history #order-list .order-item .order-info {
      padding: 14px 18px; }
      #order-history #order-list .order-item .order-info .order-datetime {
        position: absolute;
        top: 18px;
        right: 18px;
        color: #999;
        font-size: 10px; }
      #order-history #order-list .order-item .order-info .order-no {
        margin: 12px 0 4px;
        font-family: "Quicksand-Bold";
        font-size: 16px; }
      #order-history #order-list .order-item .order-info .order-total-price {
        font-size: 14px; }
    #order-history #order-list .order-item .order-detail {
      display: none;
      background: #FBFBFB;
      border-top: 1px solid #EEE; }
      #order-history #order-list .order-item .order-detail .order-detail-item {
        overflow: hidden;
        padding: 0 18px 10px;
        font-weight: bold;
        font-size: 18px; }
        #order-history #order-list .order-item .order-detail .order-detail-item .row {
          margin: 0 -5px; }
          #order-history #order-list .order-item .order-detail .order-detail-item .row > div {
            padding: 0 5px; }
          #order-history #order-list .order-item .order-detail .order-detail-item .row .product-img img {
            width: 100%;
            border-radius: 10px; }
          #order-history #order-list .order-item .order-detail .order-detail-item .row .product-info .product-name {
            font-size: 14px; }
          #order-history #order-list .order-item .order-detail .order-detail-item .row .product-info .product-option-list {
            font-family: "Quicksand";
            font-size: 12px;
            color: #666; }
            #order-history #order-list .order-item .order-detail .order-detail-item .row .product-info .product-option-list .product-option-item .topic,
            #order-history #order-list .order-item .order-detail .order-detail-item .row .product-info .product-option-list .product-option-item .value {
              padding: 4px 0; }
          #order-history #order-list .order-item .order-detail .order-detail-item .row .qty {
            text-align: right;
            font-size: 14px; }
            #order-history #order-list .order-item .order-detail .order-detail-item .row .qty > span {
              float: left;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              width: 32px;
              height: 32px; }
            #order-history #order-list .order-item .order-detail .order-detail-item .row .qty .control-btn {
              border-radius: 50%;
              cursor: pointer;
              -webkit-transition: background 0.2s;
              transition: background 0.2s; }
              #order-history #order-list .order-item .order-detail .order-detail-item .row .qty .control-btn:hover, #order-history #order-list .order-item .order-detail .order-detail-item .row .qty .control-btn:focus {
                background: #EEE; }
            #order-history #order-list .order-item .order-detail .order-detail-item .row .qty .qty-number {
              font-size: 14px; }
          #order-history #order-list .order-item .order-detail .order-detail-item .row .subtotal-price {
            text-align: right;
            font-size: 14px; }
        #order-history #order-list .order-item .order-detail .order-detail-item:first-child {
          padding-top: 10px; }
      #order-history #order-list .order-item .order-detail .grand-total {
        overflow: hidden;
        background: #F6F6F6;
        border-top: 1px solid #EEE;
        font-family: "Quicksand-Bold";
        font-size: 16px;
        text-align: right; }
        #order-history #order-list .order-item .order-detail .grand-total > div {
          padding: 10px 18px; }
    #order-history #order-list .order-item:hover {
      margin-top: -5px;
      margin-bottom: 19px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); }
