@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#personalize {
  position: relative;
  display: none;
  background-image: -webkit-radial-gradient(50% 100%, rgba(0, 0, 0, 0.39) 50%, transparent 100%), url("../../images/personalize_bg.png");
  background-image: radial-gradient(50% 100%, rgba(0, 0, 0, 0.39) 50%, transparent 100%), url("../../images/personalize_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 680px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  color: white; }
  #personalize #personalize-close {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s; }
    #personalize #personalize-close .text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-family: "Quicksand-Bold"; }
    #personalize #personalize-close:hover {
      background: rgba(255, 255, 255, 0.25); }
  #personalize #personalize-login,
  #personalize #personalize-otp {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 50%;
    font-family: "Quicksand";
    text-align: center; }
    #personalize #personalize-login #title-1,
    #personalize #personalize-login #title-2,
    #personalize #personalize-otp #title-1,
    #personalize #personalize-otp #title-2 {
      padding: 0 20px;
      font-size: 20px; }
    #personalize #personalize-login #title-3,
    #personalize #personalize-otp #title-3 {
      font-size: 13px;
      margin-top: 10px;
      padding: 0 20px; }
    #personalize #personalize-login #title-input,
    #personalize #personalize-otp #title-input {
      font-size: 16px;
      margin-top: 30px; }
      #personalize #personalize-login #title-input input,
      #personalize #personalize-otp #title-input input {
        padding: 6px 10px;
        border: 0;
        font-size: 14px;
        color: #000; }
    #personalize #personalize-login #title-enter,
    #personalize #personalize-otp #title-enter {
      font-size: 16px;
      margin-top: 14px; }
      #personalize #personalize-login #title-enter button,
      #personalize #personalize-otp #title-enter button {
        padding: 8px 30px;
        border: 1px solid #FFFFFF;
        -webkit-transition: all 0.2s !important;
        transition: all 0.2s !important; }
        #personalize #personalize-login #title-enter button:hover,
        #personalize #personalize-otp #title-enter button:hover {
          background: #FFF;
          color: #000 !important; }
  #personalize #personalize-otp {
    display: none; }

#cover {
  display: none;
  position: absolute;
  opacity: 0.54;
  top: 0;
  z-index: 998;
  background: black;
  width: 100vw;
  height: 100vh; }
