html {
  margin: 0px; }

body {
  font-family: 'Arial', Helvetica, sans-serif;
  margin: 0;
  font-size: 12px; }
  body .container {
    width: 180px; }
    body .container .content .barcode {
      padding-left: 40px; }
    body .container .content .order-heading {
      width: 180px;
      font-weight: bold; }
      body .container .content .order-heading .brand-name {
        text-align: center; }
      body .container .content .order-heading .table-no {
        font-size: 12px;
        text-align: right;
        margin-right: 20px; }
    body .container .content .order-detail {
      width: 180px; }
      body .container .content .order-detail tr {
        vertical-align: top; }
        body .container .content .order-detail tr td:first-child {
          width: 90px !important;
          padding-right: 20px; }
        body .container .content .order-detail tr td {
          width: 25px; }
        body .container .content .order-detail tr .qty, body .container .content .order-detail tr .sub-price {
          text-align: right;
          margin-right: 20px; }
      body .container .content .order-detail tr:last-child td {
        padding: 10px 0px; }
        body .container .content .order-detail tr:last-child td .total-price {
          text-align: right;
          margin-right: 20px; }
    body .container .content hr {
      border-style: dashed; }
