@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#content .container #category-bar {
  background: #FFF;
  margin-bottom: 20px;
  border-radius: 2px;
  overflow-x: scroll;
  white-space: nowrap; }
  #content .container #category-bar .category-item {
    display: inline-block;
    min-width: 150px;
    padding: 10px 14px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #content .container #category-bar .category-item:hover, #content .container #category-bar .category-item:focus {
      background: #A87E4F;
      color: #FFF; }
    #content .container #category-bar .category-item.active {
      background: #C19F79;
      color: #FFF; }

#content .container #category-bar::-webkit-scrollbar {
  display: none; }

#content .container #product-list {
  display: none; }

#content .container #product-list,
#content .container #collection-product-list {
  padding: 0px 10px; }
  #content .container #product-list .product-item,
  #content .container #collection-product-list .product-item {
    padding: 5px 5px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    #content .container #product-list .product-item .product-image,
    #content .container #collection-product-list .product-item .product-image {
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      height: 193px;
      width: 100%; }
    #content .container #product-list .product-item .product-info,
    #content .container #collection-product-list .product-item .product-info {
      padding: 15px;
      font-size: 14px;
      text-align: center;
      background: #FFF;
      font-family: "Quicksand-Bold"; }
      #content .container #product-list .product-item .product-info .product-name,
      #content .container #collection-product-list .product-item .product-info .product-name {
        margin-bottom: 2px; }
        #content .container #product-list .product-item .product-info .product-name .th,
        #content .container #collection-product-list .product-item .product-info .product-name .th {
          font-weight: bold;
          font-size: 22px; }
      #content .container #product-list .product-item .product-info .product-price .th,
      #content .container #collection-product-list .product-item .product-info .product-price .th {
        font-size: 20px;
        color: #666; }
    #content .container #product-list .product-item:hover,
    #content .container #collection-product-list .product-item:hover {
      opacity: 0.75; }

#product-detail {
  display: none;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999; }
  #product-detail .product-detail-image {
    background: #DDD;
    background-image: url("../../images/product-test.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 435px;
    position: relative; }
    #product-detail .product-detail-image #remove {
      position: absolute;
      padding: 10px; }
    #product-detail .product-detail-image .product-detail-in {
      margin: 10px 0;
      opacity: 0.54;
      background: white;
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      padding: 10px 150px;
      font-family: "Quicksand-Bold"; }
      #product-detail .product-detail-image .product-detail-in .head-text {
        font-size: 19px; }
      #product-detail .product-detail-image .product-detail-in .detail-text {
        font-size: 13px;
        margin: 10px;
        color: #4F4F4F; }
  #product-detail .product-option {
    padding: 20px 50px; }
    #product-detail .product-option .option {
      margin-bottom: 15px; }
      #product-detail .product-option .option .head-text {
        font-weight: bold;
        font-size: 14px;
        margin: 5px 0; }
      #product-detail .product-option .option .radio-item {
        position: relative;
        height: auto; }
        #product-detail .product-option .option .radio-item input[type='radio'] {
          display: none; }
        #product-detail .product-option .option .radio-item label {
          color: #4F4F4F;
          font-size: 13px;
          font-weight: normal; }
          #product-detail .product-option .option .radio-item label:before {
            content: " ";
            display: inline-block;
            position: relative;
            top: 3px;
            margin: 0 10px 0 0;
            width: 15px;
            height: 15px;
            border-radius: 11px;
            background-color: transparent;
            border: 1px solid #C19F79; }
        #product-detail .product-option .option .radio-item input[type=radio]:checked + label:after {
          border-radius: 11px;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 3px;
          content: " ";
          display: block;
          background: white;
          border: 4px solid #C19F79; }
  #product-detail .total {
    position: absolute;
    bottom: 8%;
    right: 5%;
    font-size: 17px; }
  #product-detail .add-to-cart {
    position: absolute;
    color: #FFF;
    background: #232121;
    padding: 5px 20px;
    border-radius: 84px;
    font-size: 13px;
    bottom: 3%;
    right: 5%;
    cursor: pointer; }
    #product-detail .add-to-cart:hover {
      -webkit-transition: background 0.3s  linear;
      transition: background 0.3s  linear; }

.alert {
  color: red;
  margin-bottom: -30px; }
