@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#content .container-fluid #promotion-list .promotion-item {
  padding: 15px 5px; }
  #content .container-fluid #promotion-list .promotion-item .promotion-info {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;
    position: relative;
    background-image: -webkit-linear-gradient(top, rgba(18, 0, 0, 0) 44%, rgba(7, 0, 0, 0.58) 77%), url("../../images/product-test.png");
    background-image: linear-gradient(-180deg, rgba(18, 0, 0, 0) 44%, rgba(7, 0, 0, 0.58) 77%), url("../../images/product-test.png"); }
    #content .container-fluid #promotion-list .promotion-item .promotion-info .promotion-name {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 85%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-family: "SFNS";
      font-size: 27px;
      color: #FFFFFF; }

#cover {
  display: none;
  position: absolute;
  opacity: 0.54;
  top: 0;
  z-index: 998;
  background: black;
  width: 100vw;
  height: 100vh; }

#promotion-detail {
  display: none;
  background: #FFF;
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  overflow-y: scroll;
  white-space: nowrap; }
  #promotion-detail .promotion-image {
    width: 100%;
    height: 325px;
    background-image: -webkit-radial-gradient(50% 100%, rgba(0, 0, 0, 0.39) 50%, transparent 100%), url("../../images/product-test.png");
    background-image: radial-gradient(50% 100%, rgba(0, 0, 0, 0.39) 50%, transparent 100%), url("../../images/product-test.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative; }
    #promotion-detail .promotion-image .close-btn {
      padding: 10px; }
    #promotion-detail .promotion-image .promotion-name {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-family: "SFNS";
      font-size: 50px;
      color: #FFFFFF; }
  #promotion-detail .step {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Quicksand-Bold";
    font-size: 18px; }
  #promotion-detail .step-text {
    font-family: "Quicksand-Bold";
    font-size: 15px;
    color: #787878; }
  #promotion-detail .product-bar {
    margin-top: 10px; }
    #promotion-detail .product-bar .product-list {
      background: #E3E9ED;
      overflow-x: scroll;
      white-space: nowrap; }
      #promotion-detail .product-bar .product-list .product-item-promotion {
        display: inline-block;
        width: 150px;
        padding: 10px;
        margin: 10px 5px;
        position: relative;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        font-family: "Quicksand-Bold"; }
        #promotion-detail .product-bar .product-list .product-item-promotion:hover, #promotion-detail .product-bar .product-list .product-item-promotion:focus {
          background: #FFF; }
        #promotion-detail .product-bar .product-list .product-item-promotion.active {
          background: #FFF; }
        #promotion-detail .product-bar .product-list .product-item-promotion .produt-image img {
          width: 131px; }
        #promotion-detail .product-bar .product-list .product-item-promotion .product-name {
          margin: 10px 0 5px 0;
          font-size: 12px;
          color: #000000;
          text-align: center; }
        #promotion-detail .product-bar .product-list .product-item-promotion .product-price {
          font-size: 13px;
          color: #000000;
          text-align: center; }
        #promotion-detail .product-bar .product-list .product-item-promotion .product-price-old {
          font-size: 8px;
          color: #AF0E0E;
          text-decoration: line-through;
          text-align: center; }
  #promotion-detail .total-text {
    text-align: right;
    margin: 20px 0;
    font-family: "Quicksand-Bold"; }
    #promotion-detail .total-text .sub-total {
      font-size: 14px; }
    #promotion-detail .total-text .discount {
      font-size: 14px;
      color: #C50101; }
    #promotion-detail .total-text .total {
      font-size: 14px;
      margin-top: 20px; }
  #promotion-detail #add-btn {
    margin-bottom: 50px; }
    #promotion-detail #add-btn .add-text {
      float: right;
      border-radius: 30px;
      padding: 10px;
      text-align: center;
      width: 180px;
      color: #FFF;
      background: #232121;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #promotion-detail #add-btn .add-text:hover {
        background: #A87E4F; }

#promotion-detail::-webkit-scrollbar {
  display: none; }
