html, body {
  margin: 15px; }

#print {
  width: 760px; }
  #print table {
    width: 100%; }
  #print .clear {
    clear: both; }
  #print .text-center {
    text-align: center; }
  #print .text-left {
    text-align: left; }
  #print .text-right {
    text-align: right; }
  #print .company-info {
    padding-bottom: 10px;
    border-bottom: 1px solid #878787; }
    #print .company-info .left {
      width: 65%; }
      #print .company-info .left .company-name {
        padding-left: 10px;
        font-weight: bold; }
    #print .company-info .right {
      width: 35%; }
      #print .company-info .right .txt-original {
        font-weight: bold;
        background-color: #000000;
        color: #ffffff;
        padding: 5px 10px;
        margin-bottom: 15px;
        text-align: center; }
  #print .customer-detail {
    padding: 10px 0px; }
  #print .order-detail {
    padding: 10px 0px; }
    #print .order-detail table {
      width: 100%;
      border: 1px solid #878787; }
      #print .order-detail table thead th {
        border-bottom: 1px solid #878787;
        border-right: 1px solid #878787; }
        #print .order-detail table thead th:last-child {
          border-right: none; }
      #print .order-detail table tbody td {
        border-right: 1px solid #878787; }
        #print .order-detail table tbody td:last-child {
          border-right: none; }
      #print .order-detail table tbody tr:last-child td {
        border-bottom: 1px solid #878787; }
      #print .order-detail table tfoot {
        font-weight: bold; }
        #print .order-detail table tfoot td {
          border-right: 1px solid #878787; }
          #print .order-detail table tfoot td:last-child {
            border-right: none; }

/* Component Start */
