html, body {
  margin: 15px; }

#print {
  width: 270px; }
  #print table {
    width: 100%; }
  #print .text-center {
    text-align: center; }
  #print .text-left {
    text-align: left; }
  #print .text-right {
    text-align: right; }
  #print .left {
    width: 65%; }
  #print * {
    font-size: 12px;
    /*font-family: "THSarabunNew"; */
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  #print hr.style2 {
    border-top: 3px double #8c8b8b; }

/* Component Start */
