@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#content-special-set .container-fluid .step {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Quicksand-Bold";
  font-size: 18px; }

#content-special-set .container-fluid .step-text {
  margin-bottom: 10px;
  font-size: 15px;
  color: #787878; }

#content-special-set .container-fluid #product-bar .product-list {
  background: #FFF;
  overflow-x: scroll;
  white-space: nowrap; }
  #content-special-set .container-fluid #product-bar .product-list .product-item {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #content-special-set .container-fluid #product-bar .product-list .product-item:hover, #content-special-set .container-fluid #product-bar .product-list .product-item:focus {
      background: #E0E0E0; }
    #content-special-set .container-fluid #product-bar .product-list .product-item.active {
      background: #E0E0E0; }
    #content-special-set .container-fluid #product-bar .product-list .product-item .product-img {
      margin-top: 20px;
      margin-bottom: 30px; }
      #content-special-set .container-fluid #product-bar .product-list .product-item .product-img img {
        width: 100%;
        height: auto; }
    #content-special-set .container-fluid #product-bar .product-list .product-item .product-info-set .product-text {
      font-size: 12px;
      font-family: "Quicksand-Bold";
      text-align: center; }
    #content-special-set .container-fluid #product-bar .product-list .product-item .product-info-set .product-price-old {
      font-family: "Quicksand-Bold";
      font-size: 8px;
      color: #AF0E0E;
      text-align: center;
      text-decoration: line-through; }

#content-special-set .container-fluid .total-text {
  text-align: right;
  margin: 20px 0;
  font-family: "Quicksand-Bold"; }
  #content-special-set .container-fluid .total-text .sub-total {
    font-size: 14px; }
  #content-special-set .container-fluid .total-text .discount {
    font-size: 14px;
    color: #C50101; }
  #content-special-set .container-fluid .total-text .total {
    font-size: 14px;
    margin-top: 20px; }

#content-special-set .container-fluid #add-btn {
  margin-bottom: 50px; }
  #content-special-set .container-fluid #add-btn .add-text {
    float: right;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 180px;
    color: #FFF;
    background: #232121;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #content-special-set .container-fluid #add-btn .add-text:hover {
      background: #A87E4F; }
