@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand.otf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../fonts/Quicksand-Bold.otf"); }

@font-face {
  font-family: "SFNS";
  src: url("../../fonts/SFNS.ttf"); }

@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#content #correct {
  margin-top: 10px;
  padding-top: 20px;
  height: 200px;
  width: 200px;
  display: block;
  margin: auto; }

#head {
  font-size: 20px; }

#order-id {
  font-size: 20px; }

.product-option {
  margin-left: 40px; }

.finish-btn {
  margin-top: 20px; }
