<div class="order-detail-item">
    <div class="row">
        <div class="product-img col-xs-2"><img src="{{ URl::asset('images/no-pic.png') }}" alt="" /></div>
        <div class="product-info col-xs-6">
            <div class="product-name">Bric Box</div>
            <div class="product-option-list">
                <div id="product-option-item">
                    <div class="topic col-xs-6">Ice Cream Flavor</div>
                    <div class="value col-xs-6 clearfix visible-xs-block">Chocolate</div>
                </div>
            </div>
        </div>
        <div class="qty col-xs-3"><span class="control-btn">-</span><span class="qty-number">1</span><span class="control-btn">+</span></div>
        <div class="remove col-xs-1"><button class="remove-btn"><span>X</span></button></div>
    </div>
    <div class="subtotal-price">200 baht</div>
</div>
</div>
<div class="order-detail-item">
    <div class="row">
        <div class="product-img col-xs-2"><img src="{{ URl::asset('images/no-pic.png') }}" alt="" /></div>
        <div class="product-info col-xs-6">
            <div class="product-name">Bric Rice</div>
            <div class="product-option-list">
                <div id="product-option-item">
                    <div class="topic col-xs-6">Ice Cream Flavor</div>
                    <div class="value col-xs-6 clearfix visible-xs-block">Chocolate</div>
                </div>
                <div id="product-option-item">
                    <div class="topic col-xs-6">Topping</div>
                    <div class="value col-xs-6 clearfix visible-xs-block">Whip Cream</div>
                </div>
                <div id="product-option-item">
                    <div class="topic col-xs-6">Topping</div>
                    <div class="value col-xs-6 clearfix visible-xs-block">Banana</div>
                </div>
                <div id="product-option-item">
                    <div class="topic col-xs-6">Topping</div>
                    <div class="value col-xs-6 clearfix visible-xs-block">Jelly</div>
                </div>
            </div>
        </div>
        <div class="qty col-xs-3"><span class="control-btn">-</span><span class="qty-number">1</span><span class="control-btn">+</span></div>
        <div class="remove col-xs-1"><button class="remove-btn"><span>X</span></button></div>
    </div>
    <div class="subtotal-price">400 baht</div>
</div>
</div>
