$primary-color: #FFF;
// $secondary-color: #000;
$secondary-color: #232121;
$secondary-color-hover: #444;

$primary-text-dark: #000;
$primary-text-light: #FFF;

$grey-primary: #EEE;
$grey-secondary: #DDD;

$brown-primary: #C19F79;
$brown-secondary: #A87E4F;

$primary-link: $brown-primary;
$primary-link-hover: $brown-secondary;

$font-default: 'Quicksand';
$font-bold: 'Quicksand-Bold';
$font-th-default: 'Helvethaica';
$font-th-light: 'Helvethaica-light';
$font-SFNS: 'SFNS';


@font-face {
  font-family: $font-default;
  src: url('../../fonts/Quicksand.otf');
}

@font-face {
  font-family: $font-bold;
  src: url('../../fonts/Quicksand-Bold.otf');

}

@font-face {
  font-family: $font-SFNS;
  src: url('../../fonts/SFNS.ttf');
}
@font-face {
  font-family: 'Helvethaica';
src: url('../../fonts/dbhelvethaicax-webfont.eot'); /* IE9 Compat Modes */
src: url('../../fonts/dbhelvethaicax-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../../fonts/dbhelvethaicax-webfont.woff2') format('woff2'), /* Super Modern Browsers */
url('../../fonts/dbhelvethaicax-webfont.woff') format('woff'), /* Pretty Modern Browsers */
url('../../fonts/dbhelvethaicax-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
font-family: 'Helvethaica-light';
src: url('../../fonts/dbhelvethaicaxli-webfont.eot'); /* IE9 Compat Modes */
src: url('../../fonts/dbhelvethaicaxli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../../fonts/dbhelvethaicaxli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
url('../../fonts/dbhelvethaicaxli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
url('../../fonts/dbhelvethaicaxli-webfont.ttf')  format('truetype') /* Safari, Android, iOS */

}
