@import '_constant.scss';

body{
    position: relative;
    margin: 0;
    background: $primary-color;
    // font-family: 'Open Sans', Helvetica, sans-serif;
    font-family: $font-default;
    font-size: 14px;
    color: $primary-text-dark;
    user-select: none;
}
body::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}
.container{
    padding: 0 20px;
}

.th{
    font-family: $font-th-light;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.5px;
}

a{
    color: $primary-link;
    transition: all 0.2s;

    &:hover,
    &:focus{
        color: $primary-link-hover;
        text-decoration: none;
    }
}

.show{
    display: initial !important;
}
.btn-add-cart{
    // padding: 10px 18px;
    // border-radius: 50px;
    // background-color: $secondary-color;
    // color: $primary-text-light !important;
    // transition: background 0.2s;
    //
    // &:hover{
    //     background: $brown-primary;
    // }
    //
    // &.-circle{
    //     position: relative;
    //     width: 42px;
    //     height: 42px;
    //     padding: 0;
    //     border-radius: 50%;
    //
    //     i{
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //         font-size: 20px;
    //     }
    // }
}

.btn{
    padding: 10px 18px;
    border-radius: 50px;
    background-color: $secondary-color;
    color: $primary-text-light !important;
    transition: background 0.2s;

    &:hover{
        background: $brown-primary;
    }

    &.-circle{
        position: relative;
        width: 42px;
        height: 42px;
        padding: 0;
        border-radius: 50%;

        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }
}

#ui-main{
    min-height: 800px;
    padding-top: 182px;
    background: $grey-primary;
}

#sidebar{
    display: none;
    position: absolute;
    top: 0;
    right: -550px;
    width: 550px;
    height: 100vh;
    overflow-y: auto;
    background: $primary-color;

    .close-btn-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover{
            background: #EEE;
        }
    }

    .sidebar-footer{
        position: fixed;
        bottom: 0;
        right: -550px;
        width: 550px;
        border-top: 1px solid #EEE;
        background: #FFF;
        z-index: 100;

        .table-number{
            display: inline-block;
            padding: 14px 20px;
            text-align: center;
            border-right: 1px solid #EEE;

            .topic{
                font-family: $font-bold;
                font-size: 11px;
                color: #666;
            }

            .value{
                margin-top: 8px;
                font-family: $font-bold;
                font-size: 24px;
                line-height: 24px;
            }
        }

        .options{
            float: right;
            padding: 16px 20px;
        }
    }

    .headline{
        margin: 30px 0 15px;
        text-align: center;
        font-family: $font-bold;
        font-size: 20px;
    }

    .content{
        padding-bottom: 80px;
    }

    .order-detail-list{
        .order-detail-item{
            padding: 20px;
            padding-bottom: 0;
            font-weight: bold;
            font-size: 18px;

            .row{
                margin: 0 -5px;

                > div{
                    padding: 0 5px;
                }

                .product-img{
                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                .product-info{
                    .product-option-list{
                        font-family: $font-default;
                        font-size: 13px;
                        color: #666;

                        .product-option-item{
                            .topic,
                            .value{
                                padding: 4px 0;
                            }
                        }
                    }
                }

                .qty{
                    text-align: right;
                    font-size: 14px;

                    > span{
                        float: left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                    }

                    .control-btn{
                        border-radius: 50%;
                        cursor: pointer;
                        transition: background 0.2s;

                        &:hover,
                        &:focus{
                            background: #EEE;
                        }
                    }

                    .qty-number{
                        font-size: 14px;
                    }
                }

                .remove{
                    padding-top: 4px;
                    text-align: right;

                    .remove-btn{
                        position: relative;
                        width: 24px;
                        height: 24px;
                        background: none;
                        border: 1px solid #666;
                        border-radius: 50%;
                        color: #666;
                        transition: all 0.2s;

                        span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 12px;
                        }

                        &:hover{
                            background: #666;
                            color: $primary-text-light;
                        }
                    }
                }
            }

            .subtotal-price{
                padding: 10px 0;
                border-bottom: 1px solid #DDD;
                text-align: right;
                font-size: 16px;
            }
        }
    }



    .total-price{
        padding: 20px;
        text-align: right;
        font-family: $font-bold;

        .value{
            margin-left: 20px;
            font-size: 18px;
        }
    }

    .footer{
        padding: 20px;
        text-align: center;

        .checkout-btn{
            transition: all 0.2s;
        }
    }
}

@media only screen and (max-width: 550px){
  #sidebar{
    width: 100%;

    .sidebar-footer{
      width: 100%;
    }
  }
}

#sidebar::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

#cover-box,
#cover-box-popup,
#cover-box-discount{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

#cover-box-discount{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#yesno{
    #headconfirm{
        .th{
            display: none;
        }
    }
    #yesnobutton{
        .th{
            display: none;
        }
    }
}
#popup-div{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    #product-option{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $primary-color;

        .product-item{
            position: relative;
            min-width: 550px;
            height: 350px;
            background-size: cover;
            background-position: center;

            .close-btn{
                position: absolute;
                top: 0;
                left: 0;
                padding: 8px 14px;
                font-size: 20px;
                color: $primary-text-light;
                background: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                opacity: 0.6;
                z-index: 1000;
                transition: opacity 0.2s;

                &:hover{
                    opacity: 1;
                }
            }

            .add-favorite-btn{
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px 14px;
                background: rgba(0, 0, 0, 0.5);
                font-size: 20px;
                color: #FFF;
                cursor: pointer;
                opacity: 0.6;
                z-index: 1000;
                transition: opacity 0.2s;

                i.glyphicon-heart{
                    color: #FFCC00;
                }

                &:hover{
                    opacity: 1;
                }
            }

            .gradient-div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .product-info{
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                color: $primary-text-light;
                text-align: center;
                padding: 10px 14px;

                .product-name{
                    font-family: $font-bold;
                    font-size: 20px;
                }

                .product-description{
                    font-size: 12px;
                }

                .product-price{
                    margin-top: 10px;
                }
            }
        }

        .option-div{
            overflow-x: hidden;
            overflow-y: auto;
            margin: 14px 0;
            max-height: 350px;

            .cautions{
              padding-bottom: 14px;
              border-bottom: 1px solid #EEE;
              margin-bottom: 14px;

              .caution-item{
                text-align: center;

                img{
                  height: 24px;
                }
              }
            }

            .options{
                padding: 0 20px;
                margin-bottom: 20px;

                .option-item{
                    .topic{
                        font-family: $font-bold;
                        font-size: 16px;
                        color: $brown-primary;

                        .th{
                          font-size: 24px;
                        }
                    }

                    .values{
                        .value-item{
                            display: block;
                            padding-top: 4px;
                            font-size: 12px;
                            margin-bottom: -5px;
                            .th{
                                font-size: 20px;
                            }

                            input{
                                margin-right: 4px;
                            }
                        }
                    }

                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                }
            }

            .total{
                padding: 0 15px;
                font-family: $font-bold;
            }
        }
    }
}

#content-checkout{
    display: none;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100vw;
    // height: 100vh;
    // background: rgba(0, 0, 0, 0.7);

}
