@import '_constant.scss';

header{
    position: fixed;
    width: 100%;
    height: 182px;
    background: $primary-color;
    color: $primary-text-dark;
    box-shadow: 0px 0px 32px rgba(0,0,0,0.15);
    z-index: 99;

    .container{
        position: relative;
        text-align: center;

        a{
            color: $primary-text-dark;

            &:hover{
                color: $brown-primary;
            }
        }

        #top-bar{
            overflow: hidden;
            padding: 10px 14px;

            #lang-bar{
                font-family: $font-bold;
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 12px 18px;
                background: $grey-primary;
                border-radius: 50px;

                .lang-item{
                    font-weight: bold;
                    color: #333;
                }

                .switch-slider{
                    display: inline-block;
                    width: 36px;
                    height: 20px;
                    margin: 0 3px -5px;
                    padding: 2px;
                    background: $brown-primary;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: all 0.2s;

                    .switch-icon{
                        display: inline-block;
                        float: left;
                        width: 16px;
                        height: 16px;
                        background: #FFF;
                        border-radius: 50%;
                    }

                    &:hover{
                        background: $brown-secondary;
                    }
                }
            }

            #right-main-menu{
                position: absolute;
                top: 20px;
                right: 20px;

                #my-room-btn{
                    position: relative;

                    i{
                      margin-right: 6px;
                    }
                }

                #order-list-btn{
                    .noti-div{
                        display: none;
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        width: 20px;
                        height: 20px;
                        background: #CC0000;
                        border-radius: 50%;
                        font-size: 12px;

                        .noti-number{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }

        #store-list{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 5px;

            .store-item{
                flex: 1 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                border-radius: 10px;
                opacity: 0.4;

                .img-normal{
                    display: block;
                }

                .img-active{
                    display: none;
                }

                &.active{
                    background-color: $brown-primary;
                    opacity: 1;

                    .img-normal{
                        display: none;
                    }

                    .img-active{
                        display: block;
                    }
                }

                &:not(.active):hover{
                    opacity: 1;
                }
            }

            // #store-nara{
            //     background-image: url('../../images/store-nara-logo.png');
            //
            //     &.active{
            //         background-image: url('../../images/store-nara-logo-white.png');
            //     }
            // }
            //
            // #store-cafe-chilli{
            //     background-image: url('../../images/store-cafe-chilli-logo.png');
            //
            //     &.active{
            //         background-image: url('../../images/store-cafe-chilli-logo-white.png');
            //     }
            // }
            //
            // #store-kuppadeli{
            //     background-image: url('../../images/store-kuppadeli-logo.png');
            //
            //     &.active{
            //         background-image: url('../../images/store-kuppadeli-logo-white.png');
            //     }
            // }
            //
            // #store-brix{
            //     background-image: url('../../images/store-brix-logo.png');
            //
            //     &.active{
            //         background-image: url('../../images/store-brix-logo-white.png');
            //     }
            // }
        }
    }
}

#noti-add-cart{
  position: absolute;
  right: 0;
  width: 240px;
  padding: 8px;
  background: #EEE;
  border: 1px solid #DDD;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  opacity: 0;
  z-index: 100;
  transform: translateY(6px);

  #noti-detail{
    overflow: hidden;
    text-align: left;

    .product-img{
      float: left;
      overflow: hidden;
      position: relative;
      width: 48px;

      img{
          position: absolute;
          width: auto;
          height: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
      }

      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }

    .product-info{
      float: left;
      width: 150px;
      padding-left: 10px;

      .product-name{
        margin-bottom: 4px;
        font-family: $font-bold;
        font-size: 14px;
        line-height: 18px;
      }

      .product-price{
        font-size: 12px;
      }
    }
  }
}
