@import 'global/_constant.scss';
body{
    background: #eee;
}
#content{
    .container{
        font-family: $font-default;
        .back{
            font-size: 16px;
            margin: 10px 0 0 0px;
            font-family: $font-bold;
            img{
                width: 30px;
            }
        }
        .head-text{
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 24px;
            font-family: $font-bold;
            letter-spacing: 1px;
        }
        .input-table{
            position: relative;
            font-size: 20px;
            margin: auto;
            background: #ded9d9;
            width: 450px;
            height: 115px;
            padding: 15px;
            border-radius: 30px;
            img{
                width: 30px;
                position: absolute;
                right: 20px;
                top: 15px;
            }
        }
        .order-head{
            margin: 50px 0 10px 0;
            .order-text{
                font-size: 20px;
                padding-left: 30px;
            }
            .order-status{
                padding-right: 30px;
                font-size: 20px;
                text-align: right;
            }
        }
        .order-item-process{
            margin: 20px 0 0 0;
            background: #9ad8ff;
            padding: 20px 0;
            .order-id{
                font-size: 20px;
                font-family: $font-bold;
                padding-top: 10px;
                color: black;
            }
            .order-status-in{
                text-align: right;
                .status{
                    font-size: 20px;
                    font-family: $font-bold;
                    color: black;
                    // padding-right: 10px;
                    padding-bottom: 15px;
                }
                .date{
                    position: absolute;
                    top: 100%;
                    right: 0;
                    padding: 0 5px;
                }
            }
        }
        .order-item-complete{
            background: #635f5d;
            padding: 20px 0 20px 0;
            margin: 20px 0 0 0;
            color: $primary-color;
            .order-id{

                padding-top: 10px;
                font-size: 20px;

                &hover{
                    opacity: 1;
                }
                // font-family: $font-bold;
            }
            .order-status-in{
                text-align: right;
                .status{
                    padding-right: 10px;
                    padding-bottom: 15px;
                    font-size: 20px;
                    // font-family: $font-bold;
                }
                .date{
                    position: absolute;
                    top: 100%;
                    right: 0;
                    padding: 0 5px;
                }
            }
        }
    }
}
