@import 'global/_constant.scss';
body{
    background: #eee;
}
#content{
    .container{
        #logo-head{
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                width: 200px;
                height: auto;
            }
        }

        #table-map{
            position: absolute;
            top: 60%;
            left: 30%;
            transform: translate(-50%, -50%);
            .image-in{
                cursor: pointer;
                img{
                    display: block;
                    margin: auto;
                    width: 150px;
                    height: auto;
                }
            }
            .text{
                font-size: 22px;
                font-family: $font-bold;
                padding: 20px;
                text-align: center;

            }

        }
        #order-status{

            position: absolute;
            top: 60%;
            left: 70%;
            transform: translate(-50%, -50%);
            .image-in{
                cursor: pointer;
                img{
                    display: block;
                    margin: auto;
                    width: 150px;
                    height: auto;
                }
            }
            .text{
                font-size: 22px;
                font-family: $font-bold;
                padding: 20px;
                text-align: center;
                // letter-spacing: 1px;

            }

        }
    }
}
