@import 'global/_constant.scss';
body{
    background: #eee;
}
#content{
    .container{
        font-family: $font-default;
        .back{
            font-size: 16px;
            margin: 10px 0 0 0px;
            font-family: $font-bold;
            img{
                width: 30px;
            }
        }
        .head-text{
            position: absolute;
            margin-top: 30px;
            top: 5.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            // margin-bottom: 20px;
            text-align: center;
            font-size: 24px;
            font-family: $font-bold;
            letter-spacing: 1px;
            color: #656565;
        }
        .table-no{
            margin-top: 40px;
            text-align: right;

            // margin-bottom: 20px;
            font-size: 16px;
            font-family: $font-bold;
            letter-spacing: 1px;
            text-align: right;
            color: #656565;
        }
        .date{
            margin-top: 5px;
            text-align: center;
            font-size: 12px;
            color: #656565;
            font-family: $font-bold;
        }
        .list-no{
            // margin-top: 10px;
            text-align: right;
            font-family: $font-bold;
            font-size: 24px;
        }
        .order-head{
            margin: 0 0 10px 0;
            font-family: $font-bold;
            color: #656565;
            .order-text{
                font-size: 20px;
                padding-left: 30px;
            }
            .order-status{
                // padding-right: 30px;
                font-size: 20px;
                text-align: right;
            }
        }

        #list-order{
            .order-process{
                margin: 0 0 20px 0;
                background: #9ad8ff;
                padding: 15px 0;
                .img-order{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    margin-left: 15px;
                    background: $secondary-color;
                    padding: 10px;
                    border-radius: 50%;
                    img{
                        position: absolute;
                        width: 30px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: auto;
                        display: block;
                    }
                }
                .order-detail{
                    font-size: 16px;
                    font-family: $font-bold;
                    color: #656565;
                    .order-name{
                        .name{
                            display: inline-block;
                        }
                        .number{
                            margin-left: 10px;
                            display: inline-block;
                            color: $secondary-color;
                        }
                    }
                    .order-option{
                        padding-left: 10px;
                        // padding-top: 5px;
                    }
                }
                .status{
                    // margin-left: 40px;
                    font-size: 18px;
                    font-family: $font-bold;
                    text-align: right;
                }
            }
            .order-served{
                margin: 0 0 20px 0;
                background: #8dc575;
                padding: 15px 0;
                .img-order{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    margin-left: 15px;
                    background: $secondary-color;
                    padding: 10px;
                    border-radius: 50%;
                    img{
                        position: absolute;
                        width: 30px;
                        top: 50%;
                        left: 50%;
                        margin: auto;
                        display: block;
                        transform: translate(-50%, -50%);
                    }
                }
                .order-detail{
                    font-size: 16px;
                    font-family: $font-bold;
                    color: #656565;
                    .order-name{
                        .name{
                            display: inline-block;
                        }
                        .number{
                            margin-left: 10px;
                            display: inline-block;
                            color: $secondary-color;
                        }
                    }
                    .order-option{
                        padding-left: 10px;
                        // padding-top: 5px;

                    }
                }
                .status{
                    // margin-left: 0px;
                    font-size: 18px;
                    font-family: $font-bold;
                    text-align: right;
                }
            }
        }

    }
}




// .swimlane{
//   float: left;
//   height: 100vh;
//
//   .headline{
//     text-align: center;
//     padding: 14px 20px;
//     font-family: $font-bold;
//     font-size: 24px;
//   }

  .order-list{
    padding: 0 20px;

    .order-item{
      position: relative;
      margin-bottom: 14px;
      padding: 14px 20px 14px 140px;
      min-height: 150px;
      border-radius: 4px;
      color: $primary-text-light;
      cursor: pointer;
      transition: all 1s;

      .order-no{
        position: absolute;
        top: 0;
        left: 14px;
        text-align: center;

        .content{
          padding: 20px 14px;

          .text{
            font-size: 13px;
          }

          .value{
            margin-top: 4px;
            font-family: $font-bold;
            font-size: 24px;
          }
        }

        .triangle {
          width: 0;
          height: 0;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          border-bottom: 34px solid #C34D35;
        }
      }

      .time{
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .product-info{
        .product-name{
          font-family: $font-bold;
          font-size: 20px;
        }
        .status{
          font-family: $font-bold;
          font-size: 20px;
          text-align: right;;
        }
        .product-option{
          margin-top: 6px;
          color: rgba(255, 255, 255, 0.6);
          .status-detail{
            position: absolute;
            font-size: 26px;
            right: 0;
            margin-right: 60px;
            color: $primary-text-light;
            // margin-left: 300px;
            // float: right;
            // text-align: right;
          }
        }

        .table-no{
          margin-top: 20px;
          font-size: 20px;
        }
      }

      &.processing-normal{
        background: #A87970;
        border-bottom: 3px solid #895145;

        .order-no{
          background: #78382B;

          .triangle{
            border-bottom-color: #A87970;
          }
        }
      }

      &.processing-high{
        background: #C34D35;
        border-bottom: 3px solid #9D3B27;

        .order-no{
          background: #4C1307;

          .triangle{
            border-bottom-color: #C34D35;
          }
        }
      }

      &.completed{
        background: #86D0CF;
        border-bottom: 3px solid #5FC7C4;
        color: $primary-text-dark;

        .order-no{
          background: #5FC7C4;

          .triangle{
            border-bottom-color: #86D0CF;
          }
        }

        .product-info{
          .status-detail{
            color: $primary-text-dark;
          }
          .product-option{
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }

      &:hover{
        top: -3px;
      }
    }
  }
// }
