@import 'global/_constant.scss';

    .container-fluid{
        margin: 0 20px;
        #btn-type{
            a{
                color: #FFF !important;



            }
            .btn-type{
                margin: 20px 0 20px 0;
                background: $secondary-color;
                width: 180px;
                display: inline-block;
                padding: 10px;
                color: #fff;
                font-size: 18px;
                letter-spacing: 2px;
                border-radius: 30px;
                text-align: center;
                transition: background 0.2s;
                cursor: pointer;
                &:hover{
                    background: $primary-link;
                }
            }

        }
        #table{
            background-color:#c0c0c0;
            position: relative;
            padding: 5px 5px;
            height: 670px;

            #table-order{
                // border: 2px solid red;
                overflow-y: scroll;
                white-space: nowrap;
                height: 100%;
                padding: 0;
                table{
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 3px;
                    margin: 5px 0;
                    padding: 0;
                    tr{
                        background-color:#FFFFFF;
                        th{
                            padding: 10px;
                            text-align: center;
                            font-family: $font-default;
                            font-size: 18px;
                            color:#FFFFFF;
                            background-color:#7a7a7a;
                        }
                        td{
                            color: #000;
                            padding: 10px;
                            text-align: center;
                            font-size: 18px;
                            // background-color:#FFFFFF;
                        }
                        .active{
                            background: yellow;
                        }
                    }
                    tr.active{
                        background: red;
                    }
                    thead{

                    }
                }
            }
            #table-order::-webkit-scrollbar {
              /* This is the magic bit */
              display: none;
            }

            #table-payment{
                position: absolute;
                bottom: 0;
                left:0;
                padding: 0;
                height: 40%;
                background-color:#c0c0c0;
                .btn-payment{
                    font-size: 18px;
                    font-family: $font-default;
                    // margin: 10px;
                    .btn-discount{
                        display: inline-block;
                        padding: 10px;
                        background: #7a7a7a;
                        color: $primary-color;
                        float: right;
                        margin: 0 2px;
                        width: 150px;
                        text-align: center;
                        transition: all 0.2s;
                        cursor: pointer;
                        &:hover{
                            background: $secondary-color;
                        }
                    }
                }
                display: none;
                .table-payment-text{
                    margin: 5px 0 0 0;
                    font-family: $font-bold;
                    font-size: 18px;
                    div {
                        display:inline-block;
                    }
                }
                table{
                    width: 100%;
                    border-collapse:collapse;
                    border-spacing: 3px;
                    tr{
                        font-family: $font-default;
                        font-size: 18px;
                         border: solid #c0c0c0 4px;

                        th{
                            padding: 10px;
                            text-align: center;
                            color: #fff;
                            background-color: #000;
                        }
                        td{
                            background-color: #7a7a7a;
                            padding: 10px;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }
            }

            #paid-left{
                padding: 0 5px;
                .paid-text{
                    margin: 20px 0 0 0;
                    text-align: right;
                    font-size: 18px;
                    font-family: $font-bold;

                }
            }
        }

        #pay{
            height: 670px;
            padding: 0 5px;
            #head{
                padding: 0;
                height: 35%;
                // background: red;
                .head-pay{
                    font-size: 50px;
                    // font-family: $font-bold;
                    font-weight: bold;
                    text-align: center;
                }

                .change-pay{
                    font-size: 18px;
                    text-align: center;
                    color:#FF0004
                }

                #button-etc{
                    table {
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 5px;
                        font-size: 18px;
                        text-align: center;
                        color:#fff;
                        padding: 0;
                        tr{
                            td{
                                background:#c0c0c0;
                                cursor: pointer;
                                padding: 15px 0;
                                transition: all 0.2s;
                                &:hover{
                                    background:#000;
                                }
                            }
                            .active{
                                background: $secondary-color;
                            }
                        }
                        // &:active{
                        //     td{
                        //         background: red;
                        //     }
                        // }
                    }
                }
            }

            #bottom{
                height: 65%;
                // font-family: $font-bold;
                // margin-top: 10px;
                // margin: 10px 0 0 0;
                background: #eee;
                font-weight: bold;
                padding: 0 5px;
                font-size: 30px;
                .input-pay{
                    padding: 0 5px;
                    #pay-text{
                        height: 60px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 10px;
                        background: $primary-color;
                        text-align: right;
                    }


                }
                #bank{
                    padding: 0px;
                    img{
                        width:85%;
                        padding: 3px 0;
                        display: block;
                        margin: auto;
                    }
                }
                #btn-number{
                    padding: 0;
                    margin: 0;
                    table{
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 5px;
                        td{
                            background: #FFF;
                            padding: 20px 0;
                            text-align: center;
                            transition: all 0.2s;
                            &:active{
                                background: $secondary-color;
                                color: $primary-color;
                            }
                            img{
                                width: 40px;
                                height: auto;
                            }
                        }
                        td.enter{
                            padding: 10px 0;
                        }
                    }
                }
            }

        }

    }
    #cover{
        display: none;
        background: $secondary-color;
        height: 100vh;
        width: 100vw;
        position: absolute;
        opacity: 0.54;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #report-box{
        display: none;
        height: 60vh;
        background: $primary-color;
        width: 50vw;
        box-shadow: 0 0 10px black;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .close{
            padding: 10px;
            float: right;

        }
        .report-head{
            font-family: $font-bold;
            font-size: 24px;
            text-align: center;
            margin: 35px;
        }
        .btn-print-report{
            display: block;
            padding: 0 5px 0 8px;
            margin: auto;
            // background: red;
            .btn-report{
                // display: inline-block;
                width: 95%;
                margin: 5px auto;
                background: $secondary-color;
                color: $primary-color;
                font-size: 18px;
                padding: 20px;
                // padding: 20px;
                // margin: 5px 5px;
                text-align: center;
                transition: background 0.2s;
                cursor: pointer;
                // border-radius: 30px;
                &:hover{
                    background: $primary-link;
                }
            }
        }

    }
    // #print-report-z-out{
    //     display: none;
    //     box-shadow: 0 0 10px #000;
    //     height: 90vh;
    //     background: $primary-color;
    //     width: 60vw;
    //     position: absolute;
    //     z-index: 999;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     .print-head{
    //         font-family: $font-bold;
    //         font-size: 20px;
    //         // margin: 10px;
    //         padding: 10px;
    //         background: #afaeae;
    //     }
    //     // .report-paper{
    //     //     width: 60%;
    //     //     display: block;
    //     //     margin: 10px 0px 0 30px;
    //     //     border-style: inset;
    //     //     // border: 1px inset black;
    //     //     height: 85%;
    //     //     display: block;
    //     //     overflow-y: scroll;
    //     //     white-space: nowrap;
    //     //     #print{
    //     //         width: 270px;
    //     //         // padding: 10px;
    //     //         margin: 40px;
    //     //         // box-shadow: 0 0 10px #000;
    //     //     }
    //     // }
    //     // #btn-print{
    //     //     // background: blue;
    //     //     width: 30%;
    //     //     top:50px;
    //     //     right: 15px;
    //     //     position: absolute;
    //     //     .btn-print{
    //     //         margin: 10px;
    //     //
    //     //         text-align: center;
    //     //         color: #FFF;
    //     //         background: #000;
    //     //         padding: 20px;
    //     //         border-radius: 30px;
    //     //         cursor: pointer;
    //     //         transition: all 0.3s;
    //     //         &:hover{
    //     //             background: $primary-link;
    //     //         }
    //     //     }
    //     //
    //     // }
    //
    // }
