@import 'global/_constant.scss';
#content-checkout {
  display: none;
  background: #EEE;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  width: 80vw;
  max-width: 700px;
  max-height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  .close-checkout-btn{
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 14px;
      background: rgba(0, 0, 0, 0.1);
      color: $primary-text-dark;
      cursor: pointer;
      z-index: 1;
      transition: all 0.2s;

      &:hover{
        background: rgba(0, 0, 0, 0.5);
        color: $primary-text-light;
      }
  }

  #checkout-box{
      padding: 20px;
      min-height: 360px;
      background: $primary-color;

      .order-detail{
          min-height: 260px;
          max-height: 400px;
          overflow-y: auto;

          .head-text{
              text-align: center;
              font-family: $font-bold;
              font-size: 18px;
              margin-bottom: 20px;
          }
          .order-id{
              text-align: right;
              // font-family: $font-bold;

          }
          .checkout-total-price{
                  margin-top: 20px;
                  text-align: right;
                  font-size: 14px;
                  font-family: $font-bold;
          }
          .checkout-total-discount-price{
                  text-align: right;
                  font-size: 14px;
                  font-family: $font-bold;
                  color: #4F8A10;
          }

          .checkout-total-discount{
                  text-align: right;
                  font-size: 18px;
                  font-family: $font-bold;
          }
          .product-orders{
              .product-price{
                  text-align: right;
                  font-family: $font-bold;
              }

          }
          .product-option{
              margin: 10px 0;
              .product-option-item{
                  padding: 0 20px;
              }
          }
          .total-price{
              margin-top: 20px;
              padding-bottom: 40px;
               font-family: $font-bold;
               text-align: right;
               font-size: 18px;
               border-bottom: 2px solid #C5C5C5;
          }
      }

      #tax-receipt{
          .head-text{
              font-family: $font-bold;
              font-size: 16px;
              padding: 30px 0 0 20px;
          }
          .checkbox{
              padding-left: 20px;
              textarea {
                  margin: 10px 0 5px 0;
                  resize: none;
              }
              p{
                  font-size: 10px;
              }
          }

      }
      .button-pay{
          margin-top: 20px;
          text-align: center;

          .button-pay-by{
              background: $secondary-color;
              color: $primary-color;
              text-align: center;

              padding: 8px 15px;
              border-radius: 30px;
              display: inline-block;
              transition: all 0.2s;
              white-space: nowrap;
              cursor: pointer;
              margin-bottom: 2px;

              &:hover{
                  background: $primary-link-hover;
              }
          }
      }

  }

  #button-etc{
      text-align: center;
      padding: 20px;

      .button-item{
          display: inline-block;
          position: relative;
          margin-bottom: 10px;
          width: 100%;
          max-width: 200px;
          cursor: pointer;

          img{
              width: 100%;
          }

          .cover{
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.5);
              transition: background 0.2s;

              .text{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $primary-text-light;
                  white-space: nowrap;
                  font-size: 16px;
                  letter-spacing: 1.8px;
              }

              &:hover{
                  background: rgba(168, 126, 79, 0.72);
              }
          }
      }

      .button-etc-in{
          margin-bottom: 40px;
          font-family: $font-bold;
          background: #BBB;
          color: $primary-color;
          padding: 8px 15px;
          text-align: center;
          border-radius: 50px;
          box-shadow: 0 2px 2px #949191;
          cursor: pointer;
          transition: all 0.2s;

          &:hover{
              background: #999;
          }
      }
  }

  #confirm-pay-cash{
      display: none;
      background: $primary-color;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
      border-radius: 20px;
      width: 80%;
      height: 60%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      cursor: pointer;
      .image-pay{
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .head-text{
          text-align: center;
          margin: 150px 0 10px 0;
          font-size: 30px;
          font-family: $font-bold;
      }
      .confirm-order-detail{

          padding: 30px 50px;
          .order-text{
              font-size: 20px;
              font-family: $font-bold;
          }
          .order-id{
              text-align: right;
          }
          .confirm-product-orders{
              margin-top: 20px;
              .product-price{
                  text-align: right;
                  font-family: $font-bold;
              }
          }
          .confirm-product-option{
              margin: 10px 0;
              .product-option-item{
                  padding: 0 20px;
              }
          }
          .confirm-total-price{
              margin-top: 20px;
              padding-bottom: 40px;
               font-family: $font-bold;
               text-align: right;
               font-size: 18px;

          }
          .confirm-finish{
              .btn-finish{
                  background: $secondary-color;
                  color: $primary-color;
                  padding: 10px;
                  text-align: center;
                  width: 85px;
                  border-radius: 30px;
                  margin: 0 auto;
                  font-family: $font-bold;
                  transition: all 0.2s;
                  &:hover{
                      background: $primary-link-hover;
                  }
              }
              .confirm-time{
                  position: absolute;
                  left: 60%;
                  bottom: 10%;
                  color: red;
                  font-family: $font-bold;
              }
          }
      }

  }
}

@media only screen and (max-width: 768px){
    #content-checkout #checkout-box,
    #content-checkout #checkout-box .order-detail{
        overflow: hidden;
        height: auto;
        min-height: initial;
    }
}

.discount-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: $primary-color;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    z-index: 1001;
    text-align: center;

    .loading{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1002;
        background: rgba(255, 255, 255, 0.8);

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .head-text{
        padding: 14px 20px;
        background: #EEE;
        font-size: 18px;
        font-family: $font-bold;
        text-align: center;
        text-transform: uppercase;
    }

    .content{
        overflow: hidden;
        position: relative;
        padding: 14px 20px 0;

        .input-discount{
            padding: 0 40px;
            margin: 0 auto;

            input{
                margin-top: 4px;
                padding: 6px 10px;
            }
        }

        .discount-alert{
            display: none;
            padding: 5px 20px 0;
            font-family: $font-bold;

            &.success{
              color: #4F8A10;
            }

            &.fail{
              color: #D8000C;
            }
        }
    }

    .button-discount{
        text-align: center;
        padding: 20px;

        .button-discount-in{
            display: inline-block;
            margin: 1px;
            padding: 8px 20px;
            background: $secondary-color;
            color: $primary-color;
            border-radius: 50px;
            cursor: pointer;
            transition: background 0.2s;

            &:hover{
                background: $brown-secondary;
            }
        }
    }

}

#cover{
    display: none;;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 998;
}
#yesno{
    display: none;
    position: fixed;
    width: 300px;
    padding: 30px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    overflow-y: auto;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    text-align: center;
    font-size: 20px;
    z-index: 999;

    #yesnobutton{
        margin-top: 20px;

        .button-pay-by{
            display: inline-block;
            text-align: center;
            padding: 8px 15px;
            background: $secondary-color;
            border-radius: 30px;
            color: $primary-color;
            cursor: pointer;
            transition: all 0.2s;

            &:hover{
                background: $primary-link-hover;
            }
        }
    }
}
