@import 'global/_constant.scss';

    .container-fluid{
        margin: 0 20px;
        #btn-type{
            .btn-type{
                margin: 20px 0 20px 0;
                background: $secondary-color;
                width: 180px;
                display: inline-block;
                padding: 10px;
                color: #fff;
                font-size: 18px;
                letter-spacing: 2px;
                border-radius: 30px;
                text-align: center;
                transition: background 0.2s;
                cursor: pointer;
                &:hover{
                    background: $primary-link;
                }
            }
        }
        #table{
            background-color:#c0c0c0;
            position: relative;
            padding: 5px 5px;
            height: 670px;

            #table-order{
                // border: 2px solid red;
                overflow-y: scroll;
                white-space: nowrap;
                height: 100%;
                padding: 0;
                table{
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 3px;
                    margin: 5px 0;
                    padding: 0;
                    tr{
                        background-color:#FFFFFF;
                        th{
                            padding: 10px;
                            text-align: center;
                            font-family: $font-default;
                            font-size: 18px;
                            color:#FFFFFF;
                            background-color:#7a7a7a;
                        }
                        td{
                            color: #000;
                            padding: 10px;
                            text-align: center;
                            font-size: 18px;
                            // background-color:#FFFFFF;
                        }
                        .active{
                            background: yellow;
                        }
                    }
                    tr.active{
                        background: red;
                    }
                    thead{

                    }
                }
            }
            #table-order::-webkit-scrollbar {
              /* This is the magic bit */
              display: none;
            }

            #table-payment{
                position: absolute;
                bottom: 0;
                left:0;
                padding: 0;
                height: 40%;
                background-color:#c0c0c0;
                .btn-payment{
                    font-size: 18px;
                    font-family: $font-default;
                    // margin: 10px;
                    .btn-discount{
                        display: inline-block;
                        padding: 10px;
                        background: #7a7a7a;
                        color: $primary-color;
                        float: right;
                        margin: 0 2px;
                        width: 150px;
                        text-align: center;
                        transition: all 0.2s;
                        cursor: pointer;
                        &:hover{
                            background: $secondary-color;
                        }
                    }
                }
                display: none;
                .table-payment-text{
                    margin: 5px 0 0 0;
                    font-family: $font-bold;
                    font-size: 18px;
                    div {
                        display:inline-block;
                    }
                }
                table{
                    width: 100%;
                    border-collapse:collapse;
                    border-spacing: 3px;
                    tr{
                        font-family: $font-default;
                        font-size: 18px;
                         border: solid #c0c0c0 4px;

                        th{
                            padding: 10px;
                            text-align: center;
                            color: #fff;
                            background-color: #000;
                        }
                        td{
                            background-color: #7a7a7a;
                            padding: 10px;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }
            }

            #paid-left{
                padding: 0 5px;
                .paid-text{
                    margin: 20px 0 0 0;
                    text-align: right;
                    font-size: 18px;
                    font-family: $font-bold;

                }
            }
        }

        #pay{
            height: 670px;
            padding: 0 5px;
            #head{
                padding: 0;
                height: 35%;
                // background: red;
                .head-pay{
                    font-size: 50px;
                    // font-family: $font-bold;
                    font-weight: bold;
                    text-align: center;
                }

                .change-pay{
                    font-size: 18px;
                    text-align: center;
                    color:#FF0004
                }

                #button-etc{
                    table {
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 5px;
                        font-size: 18px;
                        text-align: center;
                        color:#fff;
                        padding: 0;
                        tr{
                            td{
                                background:#c0c0c0;
                                cursor: pointer;
                                padding: 15px 0;
                                transition: all 0.2s;
                                &:hover{
                                    background:#000;
                                }
                            }
                            .active{
                                background: $secondary-color;
                            }
                        }
                        // &:active{
                        //     td{
                        //         background: red;
                        //     }
                        // }
                    }
                }
            }

            #bottom{
                height: 65%;
                // font-family: $font-bold;
                // margin-top: 10px;
                // margin: 10px 0 0 0;
                background: #eee;
                font-weight: bold;
                padding: 0 5px;
                font-size: 30px;
                .input-pay{
                    padding: 0 5px;
                    #pay-text{
                        height: 60px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 10px;
                        background: $primary-color;
                        text-align: right;
                    }


                }
                #bank{
                    padding: 0px;
                    img{
                        width:85%;
                        padding: 3px 0;
                        display: block;
                        margin: auto;
                    }
                }
                #btn-number{
                    padding: 0;
                    margin: 0;
                    table{
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 5px;
                        td{
                            background: #FFF;
                            padding: 20px 0;
                            text-align: center;
                            transition: all 0.2s;
                            &:active{
                                background: $secondary-color;
                                color: $primary-color;
                            }
                        }
                        td.enter{
                            padding: 10px 0;
                        }
                    }
                }
            }

        }

    }
    #cover{
        // display: none;
        background: $secondary-color;
        height: 100vh;
        width: 100vw;
        position: absolute;
        opacity: 0.54;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #cancel-box{
        // display: none;
        height: 80vh;
        background: $primary-color;
        width: 80vw;
        box-shadow: 0 0 10px black;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .receipt-id{
            font-family: $font-bold;
            text-align: center;
            font-size: 30px;
            position: relative;
            padding: 20px;

            .cancel-all{
                color: #FFF;
                font-family: $font-default;
                font-size: 14px;
                background: $secondary-color;
                width: 10    0px;
                padding: 10px;
                position: absolute;
                top:15px;
                right:50px;
            }
            .date-time{
                font-family: $font-default;
                font-size: 14px;
                // padding: 10px;
                position: absolute;
                text-align: right;
                top:60px;
                right:50px;
            }

            .receipt-product-table{
                margin-top: 30px;
                height: 180px;
                overflow-y: scroll;
                white-space: nowrap;
                table{
                    font-family: $font-default;
                    border-collapse: separate;
                    border-spacing: 3px;
                    font-size: 18px;
                    margin: 0 30px;
                    width: 93%;
                    td,th{
                        padding: 15px 10px;
                    }
                    th{
                        background:#7a7a7a;
                        color:#fff;
                    }
                    td{
                        background:#c0c0c0;
                        div{
                            display: inline-block;
                        }
                        #del,#plush{
                            width: 25px;
                            margin: 0 10px;
                            background: #FFF;
                            // padding: 1px 9px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }
            .receipt-product-table::-webkit-scrollbar {
              /* This is the magic bit */
              display: none;
            }

            .total-refund{
                margin: 10px 30px 0 30px;
                font-family: $font-default;
                font-size: 20px;
                text-align: right;
                span{
                    font-family: $font-bold;
                }
            }
            #reason{
                margin: 5px 30px;
                font-family: $font-bold;
                font-size: 18px;
                text-align: left;
                select{
                    width: 300px;
                    border: 1px solid #777;
                    border-radius: 0;
                }
            }
            #remark{
                margin: 0 30px;
                font-family: $font-bold;
                font-size: 18px;
                text-align: left;
                textarea {
                    resize: none;
                    border: 1px solid #777;
                    border-radius: 0;
                }
            }
            #btn-refund{
                margin: 15px 25px;
                .btn-refund{
                    font-family: $font-bold;
                    font-size: 18px;
                    background: $secondary-color;
                    padding: 20px 50px;
                    float: right;
                    color:#FFF;
                    margin: 0 5px;
                    display: inline-block;
                    transition: all 0.3s;
                    &:hover{
                        background-color:#7a7a7a;
                    }
                }
            }

        }
    }
