@import 'global/_constant.scss';

#start{
    .image-head{
        img{
            display: block;
            margin: 0 auto;
            width: 140px;
        }
    }

    .head-text{
        text-align: center;
        font-family: $font-bold;
        font-size: 19px;
        margin-bottom: 24px;
    }

    #table-div{
        background: #D8D8D8;
        width: 115px;
        height: 60px;
        margin: 24px auto;
        #table-no{
            font-family: $font-SFNS;
            font-size: 26px;
            text-align: center;
            height: 60px;
            line-height: 60px;
        }
    }
    .number-div{
        margin: 0 auto;
        width: 278px;
        // background: red;
        .number{
            cursor: pointer;
            display: inline-block;
            width: 90px;
            height: 40px;
            background: #4A4A4A;
            border-radius: 9px;
            margin: 2px 0;
            .number-text{
                color: #FFFFFF;
                font-family: $font-SFNS;
                font-size: 26px;
                text-align: center;
                padding: 5px;

            }
        }
    }

    .line{
        margin: 40px;
        border: 3px solid #979797;
    }

    .store{
        width: 340px;
        margin: 0 auto;
        .store-circle{
            margin: 14px 0 0 14px;
            width: 92px;
            height: 92px;
            border-radius: 50px;
            position: relative;
            display: inline-block;
            background: $secondary-color;
            cursor: pointer;
            transition: all 0.2s;
            .circle{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 80px;
                border-radius: 50px;
                border: 2px solid #FFFFFF;
                .img-store{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover,
            &:focus{
                background: $primary-link-hover;
            }

            &.active{
                background: $primary-link-hover;
            }
        }

    }
}
