@import 'global/_constant.scss';
#grab{
    .container{
        #btn-type{
            .btn-type{
                border: 1px solid #000;
                padding: 5px;
                text-align: center;
                margin: 30px 20px;
                border-radius: 10px;
            }

        }
        #table-barcode{
            height: 500px;
            border: 1px solid black;
            overflow-y: scroll;
            white-space: nowrap;

        }
        #table-barcode::-webkit-scrollbar {
          /* This is the magic bit */
          display: none;
        }
        #btn-barcode{
            .btn-barcode{
                margin: 20px 0;

                // border: 1px solid #000;
                // padding: 5px;
                // text-align: center;
                // border-radius: 10px;
            }
        }
        .total-text{
            margin: 20px 0;
            text-align: right;
            .total{
                font-size: 20px;
            }
            .amount{
                font-size: 22px;
            }
        }
    }
}
