@import 'global/_constant.scss';

    .container-fluid{
        margin: 0 20px;
        #btn-type{
            .btn-type{
                margin: 20px 0 20px 0;
                background: $secondary-color;
                width: 200px;
                display: inline-block;
                padding: 10px;
                color: #fff;
                font-size: 20px;
                letter-spacing: 2px;
                border-radius: 30px;
                text-align: center;
                transition: background 0.2s;
                cursor: pointer;
                &:hover{
                    background: $primary-link;
                }
                a{
                    color: #FFF !important;
                    text-decoration: none;;


                }
            }
        }
        #table{
            background-color:#c0c0c0;

            padding: 0 5px;
            height: 670px;
            #table-order{
                // border: 2px solid red;
                overflow-y: scroll;
                white-space: nowrap;
                height: 60%;
                padding: 0;
                table{
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 3px;
                    margin: 5px 0;
                    padding: 0;

                    tr{
                        background-color:#7a7a7a;
                        th{
                            padding: 10px;
                            text-align: center;
                            font-family: $font-default;
                            font-size: 18px;
                            color:#FFFFFF;
                        }
                        td{
                            color: #000;
                            padding: 10px;
                            text-align: center;
                            font-size: 18px;
                            background-color:#FFFFFF;
                        }
                    }
                }
            }
            #table-order::-webkit-scrollbar {
              /* This is the magic bit */
              display: none;
            }

            #table-payment{
                padding: 0;
                .table-payment-text{
                    margin: 20px 0 0 0;
                    font-family: $font-bold;
                    font-size: 18px;
                }
                .btn-payment{
                    font-size: 18px;
                    font-family: $font-default;
                    // margin: 10px;
                    input{
                        width: 30%;
                        margin: 0 0 0 5px;
                    }
                    .btn-discount{
                        display: inline-block;
                        padding: 10px;
                        min-width: 100px;
                        background: #7a7a7a;
                        color: $primary-color;
                        font-size: 12px;
                        // margin: 0 2px;
                        // width: 150px;
                        text-align: center;
                        transition: all 0.2s;
                        cursor: pointer;
                        &:hover{
                            background: $secondary-color;
                        }
                    }
                }
                table{
                    width: 100%;
                    border-collapse:collapse;
                    border-spacing: 3px;
                    tr{
                        font-family: $font-default;
                        font-size: 18px;
                         border: solid #c0c0c0 4px;

                        th{
                            padding: 10px;
                            text-align: center;
                            color: #fff;
                            background-color: #000;
                        }
                        td{
                            background-color: #7a7a7a;
                            padding: 10px;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }
            }

            #paid-left{
                padding: 0 5px;
                .paid-text{
                    margin: 20px 0 0 0;
                    text-align: right;
                    font-size: 18px;
                    font-family: $font-bold;

                }
            }
        }

        #pay{
            height: 670px;
            padding: 0 5px;
            #head{
                padding: 0;
                height: 35%;
                // background: red;
                .head-pay{
                    font-size: 50px;
                    // font-family: $font-bold;
                    font-weight: bold;
                    text-align: center;
                }

                .change-pay{
                    font-size: 18px;
                    text-align: center;
                    color:#FF0004
                }

                #button-etc{
                    table {
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 5px;
                        font-size: 18px;
                        text-align: center;
                        color:#fff;
                        padding: 0;
                        tr{
                            td{
                                background:#c0c0c0;
                                cursor: pointer;
                                padding: 15px 0;
                                transition: all 0.2s;
                                &:hover{
                                    background:#000;
                                }
                            }
                            .active{
                                background: $secondary-color;
                            }
                        }
                        // &:active{
                        //     td{
                        //         background: red;
                        //     }
                        // }
                    }
                }
            }

            #bottom{
                height: 65%;
                // font-family: $font-bold;
                // margin-top: 10px;
                // margin: 10px 0 0 0;
                background: #eee;
                font-weight: bold;
                padding: 0 5px;
                font-size: 30px;
                .input-pay{
                    padding: 0 5px;
                    #pay-text{
                        height: 60px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 10px;
                        background: $primary-color;
                        text-align: right;
                    }


                }
                #bank{
                    padding: 0px;
                    img{
                        width:85%;
                        padding: 3px 0;
                        display: block;
                        margin: auto;
                    }
                }
                #btn-number{
                    padding: 0;
                    margin: 0;
                    table{
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 5px;
                        td{
                            background: #FFF;
                            padding: 20px 0;
                            text-align: center;
                            transition: all 0.2s;
                            &:active{
                                background: $secondary-color;
                                color: $primary-color;
                            }
                        }
                        td.enter{
                            padding: 10px 0;
                        }
                        img{
                            width: 40px;
                            height: auto;
                        }
                    }
                }
            }

        }

    }
