@import 'global/_constant.scss';

#content{
    .container{
        padding-top: 30px;
        padding-bottom: 30px;

        #collection-list{
            margin: 0 -10px;

            div[class^='col-xs-']{
                padding: 0 5px;
            }

            .collection-item{
                position: relative;
                overflow: hidden;
                background: #DDD;
                margin-bottom: 10px;
                content: "";
                display: block;
                padding-bottom: 100%;
                cursor: pointer;

                img{
                    position: absolute;
                    width: auto;
                    height: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                }

                .cover-div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.3);
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    font-size: 20px;
                    color: $primary-text-light;
                    transition: all 0.2s;

                    .th{
                      font-size: 32px;
                    }
                }

                &:hover{
                    .cover-div{
                        background: rgba(0, 0, 0, 0);
                    }
                }
            }
        }
    }
}
