@import 'global/_constant.scss';

body{
  margin: 0;
  background: #EEE;
  font-family: $font-default;
  user-select: none;
}

.swimlane{
  overflow-y: scroll;
  height: 100vh;

  .headline{
    text-align: center;
    padding: 10px 14px;
    font-family: $font-bold;
    font-size: 24px;
  }

  .order-list{
    padding: 0 14px;

    .order-item{
      position: relative;
      margin-bottom: 14px;
      padding: 14px 20px 14px 140px;
      min-height: 150px;
      border-radius: 4px;
      color: $primary-text-light;
      cursor: pointer;
      transition: all 1s;

      .order-no{
        position: absolute;
        top: 0;
        left: 14px;
        text-align: center;

        .content{
          padding: 20px 14px;

          .text{
            font-size: 13px;
          }

          .value{
            margin-top: 4px;
            font-family: $font-bold;
            font-size: 24px;
          }
        }

        .triangle {
          width: 0;
          height: 0;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          border-bottom: 34px solid #C34D35;
        }
      }

      .time{
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .product-info{
        .product-name{
          width: 75%;
          font-family: $font-bold;
          font-size: 20px;
        }

        .product-option{
          margin-top: 6px;
          color: rgba(255, 255, 255, 0.6);
        }

        .table-no{
          margin-top: 20px;
          font-size: 20px;
        }
      }

      &.processing-normal{
        background: #A87970;
        border-bottom: 3px solid #895145;

        .order-no{
          background: #78382B;

          .triangle{
            border-bottom-color: #A87970;
          }
        }
      }

      &.processing-high{
        background: #C34D35;
        border-bottom: 3px solid #9D3B27;

        .order-no{
          background: #4C1307;

          .triangle{
            border-bottom-color: #C34D35;
          }
        }
      }

      &.completed{
        background: #86D0CF;
        border-bottom: 3px solid #5FC7C4;
        color: $primary-text-dark;

        .order-no{
          background: #5FC7C4;

          .triangle{
            border-bottom-color: #86D0CF;
          }
        }

        .product-info{
          .product-option{
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }

      &:hover{
        top: -3px;
      }
    }
  }
}

#processing-lane{
  background: #DDD;
}

#completed-lane{
  background: #CCC;
}

#tags-lane{
  .tag-list{
    padding: 0 10px;

    .tag-item{
      padding: 0 10px;

      .block{
        position: relative;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px 14px;
        border-radius: 4px;
        font-size: 18px;
        color: $primary-text-light;
        cursor: pointer;
        transition: all 0.2s;

        &.available{
          background: #5FC7C4;
          border-bottom: 3px solid #86D0CF;
          color: $primary-text-dark;
        }

        &.unavailable{
          background: #C34D35;
          border-bottom: 3px solid #9D3B27;
        }

        &:hover{
          opacity: 0.75;
        }
      }
    }
  }

  #barcode-div{
    text-align: center;

    #barcode{
      opacity: 0;
      width: 0;
      height: 0;
      font-size: 10px;
    }
  }
}
