@import 'global/_constant.scss';

#my-room{
  #menu-list{
    overflow: hidden;
    // background: #FFF;

    .person-detail{
        height: 210px;
        margin: 0 0 30px 0;
        .person-name{
            // background: red;
            padding: 0;
            height: 100%;
            .person-circle{
                height: 100%;
                // background: red;
                padding: 0;
                .person-image{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: #FFF;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .person-text{
                padding: 20px;
                // background: blue;
                height: 100%;
                // font-family: $font-bold;
                .text{
                    padding: 10px;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 14px;
                    #name{
                        margin-bottom: 10px;
                        span{
                            color: gray;
                        }
                    }
                }
            }

        }

        .point{
            background: #d6d5d5;
            height: 100%;
            position: relative;
            .point-in{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                .point-text{
                    font-size: 18px;
                    color: grey;
                }
                #no-point{
                    font-size: 65px;
                }
            }
        }
        // margin: 10px 0;
    }

    .menu-item{
      background: #FFF;
      padding: 15px;
      text-align: center;
      border-right: 1px solid #EEE;
      border-bottom: 1px solid #EEE;
      color: #666;
      cursor: pointer;
      transition: all 0.2s;

      .icon{
        font-size: 32px;
      }

      &:hover{
        background: $brown-primary;
        color: $primary-text-light;
      }
    }
    .head-text{
        font-family: $font-bold;
        font-size: 18px;
        margin: 20px 0 0 0;
    }
    .product{
        .text{
            margin: 15px 0;
        }
        .product-list{
            background: $primary-color;
            height: 200px;
            overflow-x: scroll;
            white-space: nowrap;
            .product-item{
                // background: red;
                height: 100%;
                width: 165px;
                display: inline-block;

                text-align: center;
                font-family: $font-bold;
                font-size: 12px;
                .product-image{
                    margin-top: 10px;
                    img{
                        width: 80%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                .product-name{
                    margin: 5px;
                }
                .product-price{
                    margin-bottom: 5px;
                }
                .product-price-old{
                    font-size: 8px;
                    color: #AF0E0E;
                    text-decoration: line-through;
                }
            }
        }
        .product-list::-webkit-scrollbar {
          /* This is the magic bit */
          display: none;
        }
    }

    // #personalized{
    //     .personalized-text{
    //         padding: 0;
    //         margin: 20px 0 15px 0;
    //     }
    //     .product-list-personalized{
    //         background: $primary-color;
    //         height: 200px;
    //     }
    // }
  }
}
