@import 'global/_constant.scss';

.table-reg{
  display: inline-block;
  // margin-left: 5px;
  position: relative;
  width: 100px;
  height: 50px;
  // border-radius: 15px;
  background: #4A4A4A;

}
.rectangle{
      display: inline-block;
      // margin-left: 5px;
      position: relative;
      width: 100px;
      height: 50px;
      border-radius: 15px;
      background: #4A4A4A;
      span{
        position: absolute;
        font-size: 20px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
}
#clear{

}
.number{
      color: #FFFFFF;
      display: block;
      text-align: center;
      div{
        margin-bottom: 2px;
      }
}
.img-my-kitchen{
  display: block;
  margin: auto;
}
.table-no {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
