@import 'global/_constant.scss';

#order-history{
  .headline{
    font-family: $font-bold;
    font-size: 24px;
  }

  .sub-headline{
    font-family: $font-bold;
    font-size: 12px;
    color: #666;
  }

  #order-list{
    margin-top: 20px;

    .order-item{
      position: relative;
      margin-bottom: 14px;
      background: #FFF;
      border-radius: 2px;
      border-bottom: 2px solid #DDD;
      cursor: pointer;
      transition: all 0.3s;

      .order-info{
        padding: 14px 18px;

        .order-datetime{
          position: absolute;
          top: 18px;
          right: 18px;
          color: #999;
          font-size: 10px;
        }

        .order-no{
          margin: 12px 0 4px;
          font-family: $font-bold;
          font-size: 16px;
        }

        .order-total-price{
          font-size: 14px;
        }
      }

      .order-detail{
        display: none;
        background: #FBFBFB;
        border-top: 1px solid #EEE;

        .order-detail-item{
            overflow: hidden;
            padding: 0 18px 10px;
            font-weight: bold;
            font-size: 18px;

            .row{
                margin: 0 -5px;

                > div{
                    padding: 0 5px;
                }

                .product-img{
                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                .product-info{
                    .product-name{
                        font-size: 14px;
                    }

                    .product-option-list{
                        font-family: $font-default;
                        font-size: 12px;
                        color: #666;

                        .product-option-item{
                            .topic,
                            .value{
                                padding: 4px 0;
                            }
                        }
                    }
                }

                .qty{
                    text-align: right;
                    font-size: 14px;

                    > span{
                        float: left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                    }

                    .control-btn{
                        border-radius: 50%;
                        cursor: pointer;
                        transition: background 0.2s;

                        &:hover,
                        &:focus{
                            background: #EEE;
                        }
                    }

                    .qty-number{
                        font-size: 14px;
                    }
                }

                .subtotal-price{
                    text-align: right;
                    font-size: 14px;
                }
            }

            &:first-child{
              padding-top: 10px;
            }
        }

        .grand-total{
          overflow: hidden;
          background: #F6F6F6;
          border-top: 1px solid #EEE;
          font-family: $font-bold;
          font-size: 16px;
          text-align: right;

          > div{
            padding: 10px 18px;
          }
        }
      }

      &:hover{
        margin-top: -5px;
        margin-bottom: 19px;
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
      }
    }
  }
}
