@import 'global/_constant.scss';

#personalize{
    // background: $primary-color;
    position: relative;
    display: none;
    background-image: radial-gradient(50% 100%, rgba(0,0,0,0.39) 50%, rgba(0,0,0,0.00) 100%),url('../../images/personalize_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 680px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;

    #personalize-close{
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.15);
      text-align: center;
      width: 28px;
      height: 28px;
      cursor: pointer;
      transition: background 0.2s;

      .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-bold;
      }

      &:hover{
        background: rgba(255, 255, 255, 0.25);
      }
    }

    #personalize-login,
    #personalize-otp{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 50%;
        font-family: $font-default;
        text-align: center;

        #title-1,
        #title-2{
          padding: 0 20px;
          font-size: 20px;
        }

        #title-3{
          font-size: 13px;
          margin-top: 10px;
          padding: 0 20px;
        }

        #title-input{
          font-size: 16px;
          margin-top: 30px;

          input{
            padding: 6px 10px;
            border: 0;
            font-size: 14px;
            color: $primary-text-dark;
          }

        }

        #title-enter{
          font-size: 16px;
          margin-top: 14px;

          button{
            padding: 8px 30px;
            border: 1px solid #FFFFFF;
            transition: all 0.2s !important;

            &:hover{
              background: #FFF;
              color: $primary-text-dark !important;
            }
          }
        }
    }
    #personalize-otp{
      display: none;
    }
}

#cover{
    display: none;
    position: absolute;
    opacity: 0.54;
    top:0;
    z-index: 998;
    background: black;
    width: 100vw;
    height: 100vh;
}
