html{ margin: 0px }
body{
  font-family: 'Arial', Helvetica, sans-serif;
  margin: 0;
  font-size: 12px;
  .container {
    width: 180px;
    .content {
      .barcode{
        padding-left: 40px;
      }
      .order-heading{
        width: 180px;
        font-weight: bold;
        .brand-name{
          text-align: center;
        }
        .store-name{

        }
        .table-no{
          font-size: 12px;
          text-align: right;
          margin-right: 20px;
        }
      }

      .order-detail{
        width: 180px;
        tr{
          vertical-align: top;
          td:first-child{
            width: 90px !important;
            padding-right: 20px;
          }
          td{
            width: 25px;
            //width: 10%;
          }

          .qty, .sub-price{
            text-align: right;
            margin-right: 20px;
          }
        }

        tr:last-child{
          //font-weight: bold;
          //font-size: 16px;
          td{
            padding: 10px 0px;
            .total-price{
              text-align: right;
              margin-right: 20px;
            }
          }
        }
      }


      hr{
        border-style: dashed;
      }
    }
  }
}
