@import 'global/_constant.scss';

#content{
    .container{
        #category-bar{
            background: $primary-color;
            margin-bottom: 20px;
            border-radius: 2px;
            overflow-x: scroll;
            white-space: nowrap;
            .category-item{
                display: inline-block;
                min-width: 150px;
                padding: 10px 14px;
                font-size: 16px;
                text-align: center;
                cursor: pointer;
                transition: all 0.2s;

                &:hover,
                &:focus{
                    background: $primary-link-hover;
                    color: $primary-text-light;
                }

                &.active{
                    background: $primary-link;
                    color: $primary-text-light;
                }
            }

        }
        #category-bar::-webkit-scrollbar {

              display: none;
        }

        #product-list{
            display: none;
        }

        #product-list,
        #collection-product-list{
            padding: 0px 10px;

            .product-item{
                padding: 5px 5px;
                cursor: pointer;
                transition: opacity 0.2s;

                .product-image{
                    position: relative;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center;
                    height: 193px;
                    width: 100%;
                }

                .product-info{
                    padding: 15px;
                    font-size: 14px;
                    text-align: center;
                    background: $primary-color;
                    font-family: $font-bold;

                    .product-name{
                      margin-bottom: 2px;

                      .th{
                          font-weight: bold;
                          font-size: 22px;
                      }
                    }

                    .product-price .th{
                      font-size: 20px;
                      color: #666;
                    }
                }

                &:hover{
                    opacity: 0.75;
                }
            }
        }
    }
}


#product-detail{
    display: none;
    background: $primary-color;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    width: 80vw;
    height: 80vh;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    .product-detail-image{
        background: $grey-secondary;
        // background-image: radial-gradient(circle farthest-corner at 300px 240px , rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 60%), url('../../images/product-test.png');
        background-image: url('../../images/product-test.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 435px;
        position: relative;

        #remove{
            position: absolute;
            padding: 10px;
        }

        .product-detail-in{
            margin: 10px 0;
            opacity: 0.54;
            background: white;
            position: absolute;
            text-align: center;
            bottom: 0;
            width: 100%;
            padding: 10px 150px;
            font-family: $font-bold;
            // color: $primary-color;

            .head-text{
                font-size: 19px;
            }

            .detail-text{
                font-size: 13px;
                margin: 10px;
                color: #4F4F4F;
            }
        }
    }

    .product-option{
        padding: 20px 50px;

        .option{
            margin-bottom: 15px;

            .head-text{
                font-weight: bold;
                font-size: 14px;
                margin: 5px 0;
            }

            .radio-item {
                  position: relative;
                  height: auto;

                  input[type='radio'] {
                      display: none;
                  }

                  label {
                      color: #4F4F4F;
                      font-size: 13px;
                      font-weight: normal;

                      &:before{
                          content: " ";
                          display: inline-block;
                          position: relative;
                          top: 3px;
                          margin: 0 10px 0 0;
                          width: 15px;
                          height: 15px;
                          border-radius: 11px;
                          background-color: transparent;
                          border: 1px solid $brown-primary;
                      }
                  }

                input[type=radio]:checked + label:after {
                    border-radius: 11px;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 3px;
                    //   left: 3px;
                    content: " ";
                    display: block;
                    background: white;
                    border: 4px solid $brown-primary;
                }
            }
        }
    }

    .total{
        position: absolute;
        bottom: 8%;
        right: 5%;
        font-size: 17px;
    }

    .add-to-cart{
        position: absolute;
        color: $primary-color;
        background: $secondary-color;
        padding: 5px 20px;
        border-radius: 84px;
        font-size: 13px;
        bottom: 3%;
        right: 5%;
        cursor: pointer;

        &:hover{
            // background: $brown-primary;
            transition: background 0.3s  linear;
        }
    }
}

.alert{
  color: red;
  // text-align: left;
  margin-bottom: -30px;
}
