@import 'global/_constant.scss';

#content{
    .container-fluid{
        #promotion-list{
            .promotion-item{
                padding: 15px 5px;
                .promotion-info{
                    // background-image: url('../../images/product-test.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    height: 260px;
                    position: relative;
                    background-image: linear-gradient(-180deg, rgba(18,0,0,0.00) 44%, rgba(7,0,0,0.58) 77%),url('../../images/product-test.png');

                    .promotion-name{
                        text-align: center;
                        width: 100%;
                        position: absolute;
                        top: 85%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: $font-SFNS;
                        font-size: 27px;
                        color: #FFFFFF;
                    }
                }

            }
        }
    }

}
#cover{
    display: none;
    position: absolute;
    opacity: 0.54;
    top:0;
    z-index: 998;
    background: black;
    width: 100vw;
    height: 100vh;
}
#promotion-detail{
    display: none;
    background: $primary-color;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    overflow-y: scroll;
    white-space: nowrap;
    .promotion-image{
        width: 100%;
        height: 325px;
        background-image: radial-gradient(50% 100%, rgba(0,0,0,0.39) 50%, rgba(0,0,0,0.00) 100%),url('../../images/product-test.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
        .close-btn{
            padding: 10px;

        }
        .promotion-name{
            position: absolute;
            top:50%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
            // border: 1px solid #FFFFFF;
            font-family: $font-SFNS;
            font-size: 50px;
            color: #FFFFFF;
        }
    }
    .step{
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: $font-bold;
        font-size: 18px;
    }
    .step-text{
        font-family: $font-bold;
        font-size: 15px;
        color: #787878;
    }
    .product-bar{
        margin-top: 10px;
        .product-list{
            background: #E3E9ED;
            overflow-x: scroll;
            white-space: nowrap;
            .product-item-promotion{
                display: inline-block;
                width: 150px;
                padding: 10px;
                margin: 10px 5px;
                // background: #FFF;
                position: relative;
                cursor: pointer;
                transition: all 0.2s;
                font-family: $font-bold;

                &:hover,
                &:focus{
                    background: $primary-color;
                }

                &.active{
                    background: $primary-color;
                }
                .produt-image{
                    img{
                        width: 131px;
                    }
                }
                .product-name{
                    margin: 10px 0 5px 0;
                    font-size: 12px;
                    color: #000000;
                    text-align: center;
                }
                .product-price{
                    font-size: 13px;
                    color: #000000;
                    text-align: center;
                }
                .product-price-old{
                    font-size: 8px;
                    color: #AF0E0E;
                    text-decoration: line-through;
                    text-align: center;
                }
            }
        }
    }
    .total-text{
        text-align: right;
        margin: 20px 0;
        font-family: $font-bold;
        .sub-total{
            font-size: 14px;
        }
        .discount{
            font-size: 14px;
            color: #C50101;
        }
        .total{
            font-size: 14px;
            margin-top: 20px;
        }
    }
    #add-btn{
        margin-bottom: 50px;

        .add-text{
            float: right;
            border-radius: 30px;
            padding: 10px;
            text-align: center;
            width: 180px;
            color: $primary-color;
            background: $secondary-color;
            cursor: pointer;
            transition: all 0.2s;
            &:hover{
                background: $primary-link-hover;
            }
        }
    }


}
#promotion-detail::-webkit-scrollbar {

      display: none;
}
