$border-color : #878787;
html, body{
    margin: 15px;
}
#print{
    width: 760px;
    table {
        width: 100%;
    }
        .clear{
        clear: both;
    }
    .text-center{ text-align: center }
    .text-left{ text-align: left }
    .text-right{ text-align: right }

    .company-info{
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
        .left{
            width: 65%;
            .company-name{
                padding-left: 10px;
                font-weight: bold;
            }
        }
        .right{
            width: 35%;
            .txt-original{
                //display: inline-block;
                font-weight: bold;
                background-color: #000000;
                color: #ffffff;
                padding: 5px 10px;
                margin-bottom: 15px;
                text-align: center;
            }
            .tax-id{
                //text-align: right;
            }
            .receipt-no, .date{
                //margin-left: 60px;
            }
        }
    }

    .customer-detail{
        padding: 10px 0px;

    }
    .order-detail{
        padding: 10px 0px;
        table, th, td {

        }
        table {
            width: 100%;
            border: 1px solid $border-color;

            thead{
                th {
                    border-bottom: 1px solid $border-color;
                    border-right: 1px solid $border-color;
                    &:last-child{
                        border-right: none;
                    }
                }
            }
            tbody{
                td{
                    border-right: 1px solid $border-color;
                    &:last-child{
                        border-right: none;
                    }
                }
                tr:last-child{
                    td{
                        border-bottom: 1px solid $border-color;
                    }
                }

            }
            tfoot{
                font-weight: bold;

                td{
                    border-right: 1px solid $border-color;
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }

    }
}

/* Component Start */
