$border-color : #878787;
html, body{
    margin: 15px;
}
#print{
    width: 270px;
    table {
        width: 100%;
    }
    .text-center{ text-align: center }
    .text-left{ text-align: left }
    .text-right{ text-align: right }
    .left{
        width: 65%;
    }
    * {
        font-size: 12px;
        /*font-family: "THSarabunNew"; */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    hr.style2 {
    border-top: 3px double #8c8b8b;
    }
}

/* Component Start */
