@import 'global/_constant.scss';
#content-special-set{
    .container-fluid{
        .step{
            margin-top: 20px;
            margin-bottom: 5px;
            font-family: $font-bold;
            font-size: 18px;
        }
        .step-text{
            margin-bottom: 10px;
            font-size: 15px;
            color: #787878;
        }
        #product-bar{

            .product-list{
                background: $primary-color;
                overflow-x: scroll;
                white-space: nowrap;
                .product-item{
                    display: inline-block;
                    width: 150px;
                    padding: 10px;
                    margin: 0 5px;
                    // background: #E0E0E0;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.2s;

                    &:hover,
                    &:focus{
                        background: #E0E0E0;
                    }

                    &.active{
                        background: #E0E0E0;
                    }
                    .product-img{
                        margin-top: 20px;
                        margin-bottom: 30px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }

                    .product-info-set{
                        .product-text{
                            font-size: 12px;
                            font-family: $font-bold;
                            text-align: center;
                        }
                        .product-price-old{
                            font-family: $font-bold;
                            font-size: 8px;
                            color: #AF0E0E;
                            text-align: center;
                             text-decoration: line-through;
                        }
                    }


                }
            }
        }

        .total-text{
            text-align: right;
            margin: 20px 0;
            font-family: $font-bold;
            .sub-total{
                font-size: 14px;
            }
            .discount{
                font-size: 14px;
                color: #C50101;
            }
            .total{
                font-size: 14px;
                margin-top: 20px;
            }
        }
        #add-btn{
            margin-bottom: 50px;
            .add-text{
                float: right;
                border-radius: 30px;
                padding: 10px;
                text-align: center;
                width: 180px;
                color: $primary-color;
                background: $secondary-color;
                cursor: pointer;
                transition: all 0.2s;
                &:hover{
                    background: $primary-link-hover;
                }
            }
        }
    }
}
