@import 'global/_constant.scss';

#content{
      #correct{

              margin-top: 10px;
              padding-top: 20px;
              height: 200px;
              width: 200px;
              display:block;
              margin:auto;
      }

}

#head{
    font-size: 20px;

}
#order-id{
    font-size: 20px;

}
.product-option{
        margin-left: 40px;
}
.product-total{

}
.finish-btn{
  margin-top: 20px;

}
